<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/popover.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 120px auto;
    }
    
    .demo .rbt-btn {
        margin: 0 8px;
    }
    
    .top,
    .bottom {
        text-align: center;
        clear: both;
    }
    
    .left {
        float: left;
        width: 60px;
    }
    
    .right {
        float: right;
        width: 60px;
    }
    
    .left .rbt-btn,
    .right .rbt-btn {
        margin-bottom: 12px;
    }
    
    .custom-table table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #e9e9e9;
        width: 100%;
        margin-bottom: 24px;
    }
    
    .custom-table table th {
        background: #f7f7f7;
        white-space: nowrap;
        color: #5c6b77;
        font-weight: 600;
    }
    
    .custom-table table td,
    .custom-table table th {
        border: 1px solid #e9e9e9;
        padding: 8px 16px;
        text-align: left;
    }
</style>

<body>
    <div class="demo">
        <!-- <div class="rbt-popover">
        <div class="rbt-popover-rel">
          <button class="rbt-btn">Hover me</button>
        </div>
        <div
          class="rbt-popover-popover rbt-popover-fade-enter"
          x-placement="top"
        >
          <div class="rbt-popover-popover-content">
            <div class="rbt-popover-popover-arrow">
              <span class="rbt-popover-popover-arrow-content"></span>
            </div>
            <div class="rbt-popover-popover-inner">
              <div class="rbt-popover-popover-inner-title">Title</div>
              <div class="rbt-popover-popover-inner-content">提示内容</div>
            </div>
          </div>
        </div>
      </div> -->

        <rab-popover id="popover1">
            <button class="rbt-btn" slot="ref">Hover 触发</button>
        </rab-popover>
        <rab-popover id="popover2">
            <button class="rbt-btn" slot="ref">Focus 触发</button>
        </rab-popover>
        <rab-popover id="popover3">
            <button class="rbt-btn" slot="ref">Click 触发</button>
        </rab-popover>
    </div>
    <div class="demo">
        <div class="top">
            <rab-popover id="popover4">
                <button class="rbt-btn" slot="ref">上左</button>
            </rab-popover>
            <rab-popover id="popover5">
                <button class="rbt-btn" slot="ref">上边</button>
            </rab-popover>
            <rab-popover id="popover6">
                <button class="rbt-btn" slot="ref">上左</button>
            </rab-popover>
        </div>
        <div class="left">
            <rab-popover id="popover7">
                <button class="rbt-btn" slot="ref">左上</button>
            </rab-popover>
            <rab-popover id="popover8">
                <button class="rbt-btn" slot="ref">左边</button>
            </rab-popover>
            <rab-popover id="popover9">
                <button class="rbt-btn" slot="ref">左下</button>
            </rab-popover>
        </div>
        <div class="right">
            <rab-popover id="popover10">
                <button class="rbt-btn" slot="ref">右上</button>
            </rab-popover>
            <rab-popover id="popover11">
                <button class="rbt-btn" slot="ref">右边</button>
            </rab-popover>
            <rab-popover id="popover12">
                <button class="rbt-btn" slot="ref">右下</button>
            </rab-popover>
        </div>
        <div class="bottom">
            <rab-popover id="popover13">
                <button class="rbt-btn" slot="ref">下左</button>
            </rab-popover>
            <rab-popover id="popover14">
                <button class="rbt-btn" slot="ref">下边</button>
            </rab-popover>
            <rab-popover id="popover15">
                <button class="rbt-btn" slot="ref">下右</button>
            </rab-popover>
        </div>
    </div>
    <div class="demo">
        <rab-popover id="popover16">
            <button class="rbt-btn" slot="ref">浮层内关闭</button>
        </rab-popover>
        <rab-popover id="popover17">
            <button class="rbt-btn" slot="ref">嵌套复杂内容</button>
            <div class="custom-table" slot="content">
                <table>
                    <thead>
                        <tr>
                            <th>日期</th>
                            <th>姓名</th>
                            <th>地址</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2020-08-22</td>
                            <td>李康</td>
                            <td>深圳市南山区步行街</td>
                        </tr>
                        <tr>
                            <td>2020-10-02</td>
                            <td>李康</td>
                            <td>深圳市南山区步行街</td>
                        </tr>
                        <tr>
                            <td>2020-12-24</td>
                            <td>李康</td>
                            <td>深圳市南山区步行街</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </rab-popover>
    </div>
</body>

<script src="../../utils/typeof.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="../../utils/detect-direction.js"></script>
<script src="../../utils/css-transition.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../plugins/popper.js"></script>
<script src="../../mixins/clickoutside.js"></script>
<script src="./popover.js"></script>
<script>
    RabbitUI.create("#popover1", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        trigger: "hover",
    });
    RabbitUI.create("#popover2", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        trigger: "focus",
    });
    RabbitUI.create("#popover3", {
        title: "标题",
        content: `提示内容<br />提示内容`,
    });

    RabbitUI.create("#popover4", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "top-start",
    });
    RabbitUI.create("#popover5", {
        title: "标题",
        content: `提示内容<br />提示内容`,
    });

    RabbitUI.create("#popover6", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "top-end",
    });
    RabbitUI.create("#popover7", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "left-start",
    });
    RabbitUI.create("#popover8", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "left",
    });
    RabbitUI.create("#popover9", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "left-end",
    });
    RabbitUI.create("#popover10", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "right-start",
    });
    RabbitUI.create("#popover11", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "right",
    });
    RabbitUI.create("#popover12", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "right-end",
    });
    RabbitUI.create("#popover13", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "bottom-start",
    });
    RabbitUI.create("#popover14", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "bottom",
    });
    RabbitUI.create("#popover15", {
        title: "标题",
        content: `提示内容<br />提示内容`,
        placement: "bottom-end",
    });
    RabbitUI.create("#popover16", {
        title: `<em>自定义标题</em>`,
        content: `<a id="close">关闭提示框</a>`,
        triggerHide: "#close",
    });
    RabbitUI.create("#popover17", {
        placement: "right",
        width: 400,
    });
</script>

</html>