<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/tag.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 10px auto;
    }
    
    .demo rb-tag {
        margin-bottom: 8px;
    }
</style>

<body>
    <div class="demo">
        <rb-tag>标签 1</rb-tag>
        <rb-tag><a href="https://github.com/niu-grandpa/RabbitUI">标签 2</a></rb-tag>
        <rb-tag> 标签 3<i class="rbt-icon rbt-icon-ios-close"></i></rb-tag>
    </div>

    <div class="demo">
        <rb-tag rb-color="primary">primary</rb-tag>
        <rb-tag rb-color="success">success</rb-tag>
        <rb-tag rb-color="info">info</rb-tag>
        <rb-tag rb-color="warning">warning</rb-tag>
        <rb-tag rb-color="error">error</rb-tag>
        <rb-tag rb-color="magenta">magenta</rb-tag>
        <rb-tag rb-color="red">red</rb-tag>
        <rb-tag rb-color="volcano">volcano</rb-tag>
        <rb-tag rb-color="orange">orange</rb-tag>
        <rb-tag rb-color="gold">gold</rb-tag>
        <rb-tag rb-color="lime">lime</rb-tag>
        <rb-tag rb-color="green">green</rb-tag>
        <rb-tag rb-color="cyan">cyan</rb-tag>
        <rb-tag rb-color="blue">blue</rb-tag>
        <rb-tag rb-color="geekblue">geekblue</rb-tag>
        <rb-tag rb-color="purple">purple</rb-tag>
    </div>

    <div class="demo">
        <rb-tag rb-color="error">
            <i class="rbt-icon rbt-icon-logo-angular"></i>
            <span>Angular</span>
        </rb-tag>
        <rb-tag rb-color="primary">
            <i class="rbt-icon rbt-icon-logo-facebook"></i>
            <span>Facebook</span>
        </rb-tag>
        <rb-tag rb-color="info">
            <i class="rbt-icon rbt-icon-logo-twitter"></i>
            <span>Twitter</span>
        </rb-tag>
    </div>

    <div class="demo">
        <rb-tag rb-color="green">
            <i class="rbt-icon rbt-icon-ios-checkmark-circle-outline"></i>
            <span>success</span>
        </rb-tag>
        <rb-tag rb-color="blue">
            <i class="rbt-icon rbt-icon-loading1"></i>
            <span>processing</span>
        </rb-tag>
        <rb-tag rb-color="red">
            <i class="rbt-icon rbt-icon-ios-close-circle-outline"></i>
            <span>error</span>
        </rb-tag>
        <rb-tag rb-color="gold">
            <i class="rbt-icon rbt-icon-md-information-circle-outline"></i>
            <span>warning</span>
        </rb-tag>
        <rb-tag rb-color="primary">
            <i class="rbt-icon rbt-icon-md-stopwatch"></i>
            <span>waiting</span>
        </rb-tag>
    </div>

    <div class="demo">
        <rb-tag class="checkable">电影</rb-tag>
        <rb-tag class="checkable checked">书籍</rb-tag>
        <rb-tag class="checkable">音乐</rb-tag>
        <rb-tag class="checkable">运动</rb-tag>
    </div>
</body>
<script src="../../core/main.js"></script>
<script src="./tag.js"></script>

</html>