<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/tag.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 10px auto;
    }
    
    .demo rab-tag {
        margin-bottom: 8px;
    }
</style>

<body>
    <div class="demo">
        <rab-tag>标签 1</rab-tag>
        <rab-tag><a href="https://github.com/niu-grandpa/RabbitUI">标签 2</a></rab-tag>
        <rab-tag> 标签 3<i class="rbt-icon rbt-icon-ios-close"></i></rab-tag>
    </div>

    <div class="demo">
        <rab-tag rab-color="primary">primary</rab-tag>
        <rab-tag rab-color="success">success</rab-tag>
        <rab-tag rab-color="info">info</rab-tag>
        <rab-tag rab-color="warning">warning</rab-tag>
        <rab-tag rab-color="error">error</rab-tag>
        <rab-tag rab-color="magenta">magenta</rab-tag>
        <rab-tag rab-color="red">red</rab-tag>
        <rab-tag rab-color="volcano">volcano</rab-tag>
        <rab-tag rab-color="orange">orange</rab-tag>
        <rab-tag rab-color="gold">gold</rab-tag>
        <rab-tag rab-color="lime">lime</rab-tag>
        <rab-tag rab-color="green">green</rab-tag>
        <rab-tag rab-color="cyan">cyan</rab-tag>
        <rab-tag rab-color="blue">blue</rab-tag>
        <rab-tag rab-color="geekblue">geekblue</rab-tag>
        <rab-tag rab-color="purple">purple</rab-tag>
    </div>

    <div class="demo">
        <rab-tag rab-color="error">
            <i class="rbt-icon rbt-icon-logo-angular"></i>
            <span>Angular</span>
        </rab-tag>
        <rab-tag rab-color="primary">
            <i class="rbt-icon rbt-icon-logo-facebook"></i>
            <span>Facebook</span>
        </rab-tag>
        <rab-tag rab-color="info">
            <i class="rbt-icon rbt-icon-logo-twitter"></i>
            <span>Twitter</span>
        </rab-tag>
    </div>

    <div class="demo">
        <rab-tag rab-color="green">
            <i class="rbt-icon rbt-icon-ios-checkmark-circle-outline"></i>
            <span>success</span>
        </rab-tag>
        <rab-tag rab-color="blue">
            <i class="rbt-icon rbt-icon-loading1"></i>
            <span>processing</span>
        </rab-tag>
        <rab-tag rab-color="red">
            <i class="rbt-icon rbt-icon-ios-close-circle-outline"></i>
            <span>error</span>
        </rab-tag>
        <rab-tag rab-color="gold">
            <i class="rbt-icon rbt-icon-md-information-circle-outline"></i>
            <span>warning</span>
        </rab-tag>
        <rab-tag rab-color="primary">
            <i class="rbt-icon rbt-icon-md-stopwatch"></i>
            <span>waiting</span>
        </rab-tag>
    </div>

    <div class="demo">
        <rab-tag class="checkable">电影</rab-tag>
        <rab-tag class="checkable checked">书籍</rab-tag>
        <rab-tag class="checkable">音乐</rab-tag>
        <rab-tag class="checkable">运动</rab-tag>
    </div>
</body>
<script src="./tag.js"></script>

</html>