rab-alert {
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  position: relative;
  display: block;
  padding: 8px 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  border-radius: 2px;
  border: 1px solid #aed8ff;
  background-color: #edf6ff;
}
rab-alert .rab-alert-icon {
  color: #1890ff;
}
rab-alert .rab-alert-icon {
  font-size: 16px;
  top: 6px;
  left: 12px;
  position: absolute;
}
rab-alert .rab-alert-message {
  color: #2c3e50;
}
rab-alert .rab-alert-desc {
  font-size: 14px;
  color: #55585e;
  line-height: 22px;
  display: none;
}
rab-alert .rab-alert-close {
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;
}
rab-alert .rab-alert-close .rab-icon-ios-close {
  font-size: 22px;
  color: #999;
  transition: color 0.2s ease;
  position: relative;
  top: 0;
}
rab-alert .rab-alert-close .rab-icon-ios-close:hover {
  color: #666;
}
rab-alert[type='success'] {
  border: 1px solid #c2eaaf;
  background-color: #f6ffed;
}
rab-alert[type='success'] .rab-alert-icon {
  color: #52c41a;
}
rab-alert[type='info'] {
  border: 1px solid #aed8ff;
  background-color: #edf6ff;
}
rab-alert[type='info'] .rab-alert-icon {
  color: #1890ff;
}
rab-alert[type='warning'] {
  border: 1px solid #fde2ad;
  background-color: #fffbe6;
}
rab-alert[type='warning'] .rab-alert-icon {
  color: #faad14;
}
rab-alert[type='error'] {
  border: 1px solid #ffc1c1;
  background-color: #fff2f0;
}
rab-alert[type='error'] .rab-alert-icon {
  color: #ff4d4f;
}
rab-alert[show-with-icon='true'] {
  padding: 8px 48px 8px 35px;
}
rab-alert[show-desc='true'] {
  padding: 16px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 10px;
  color: #55585e;
  line-height: 1.5715;
}
rab-alert[show-desc='true'] .rab-alert-desc {
  display: block;
}
rab-alert[show-desc='true'] .rab-alert-message {
  font-size: 16px;
  color: #2c3e50;
  display: block;
  margin-bottom: 4px;
}
rab-alert[show-desc='true'] .rab-alert-icon {
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  font-size: 30px;
}
rab-alert[show-desc='true'][show-with-icon='true'] {
  padding: 15px 15px 15px 69px;
}
rab-alert[banner='true'] {
  border: 0;
  border-radius: 0;
}
