/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
r-badge {
  position: relative;
  display: inline-block;
}
r-badge[type='primary'] .rab-badge-count {
  background: #1890ff;
}
r-badge[type='success'] .rab-badge-count {
  background: #52c41a;
}
r-badge[type='error'] .rab-badge-count {
  background: #ff4d4f;
}
r-badge[type='warning'] .rab-badge-count {
  background: #faad14;
}
r-badge[type='info'] .rab-badge-count {
  background: #2db7f5;
}
r-badge[type='normal'] .rab-badge-count {
  background: #e6ebf1;
  color: #808695;
}
.rab-badge-count {
  font-family: 'Monospaced Number';
  line-height: 1;
  vertical-align: middle;
  position: absolute;
  transform: translateX(50%);
  top: -10px;
  right: 0;
  height: 20px;
  border-radius: 10px;
  min-width: 20px;
  background: #ff4d4f;
  border: 1px solid transparent;
  color: #fff;
  line-height: 17px;
  text-align: center;
  padding: 0 6px;
  font-size: 12px;
  white-space: nowrap;
  transform-origin: -10% center;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
}
.rab-badge-count-custom {
  background: transparent;
  color: inherit;
  border-color: transparent;
  box-shadow: none;
}
.rab-badge-count a,
.rab-badge-count a:hover {
  color: #fff;
}
.rab-badge-count-alone {
  top: auto;
  display: block;
  position: relative;
  transform: translateX(0);
}
.rab-badge-dot {
  position: absolute;
  transform: translateX(-50%);
  transform-origin: 0 center;
  top: -4px;
  right: -8px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #ff4d4f;
  z-index: 10;
  box-shadow: 0 0 0 1px #fff;
}
.rab-badge-status {
  line-height: inherit;
  vertical-align: baseline;
}
.rab-badge-status-dot {
  width: 6px;
  height: 6px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.rab-badge-status-success {
  background-color: #52c41a;
}
.rab-badge-status-processing {
  background-color: #1890ff;
  position: relative;
}
.rab-badge-status-processing:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #1890ff;
  content: '';
  animation: rabStatusProcessing 1.2s infinite ease-in-out;
}
.rab-badge-status-default {
  background-color: #e6ebf1;
}
.rab-badge-status-error {
  background-color: #ff4d4f;
}
.rab-badge-status-warning {
  background-color: #faad14;
}
.rab-badge-status-text {
  display: inline-block;
  color: #55585e;
  font-size: 14px;
  margin-left: 6px;
}
.rab-badge-status-pink {
  background-color: #eb2f96;
}
.rab-badge-status-magenta {
  background-color: #eb2f96;
}
.rab-badge-status-red {
  background-color: #f5222d;
}
.rab-badge-status-volcano {
  background-color: #fa541c;
}
.rab-badge-status-orange {
  background-color: #fa8c16;
}
.rab-badge-status-yellow {
  background-color: #fadb14;
}
.rab-badge-status-gold {
  background-color: #faad14;
}
.rab-badge-status-cyan {
  background-color: #13c2c2;
}
.rab-badge-status-lime {
  background-color: #a0d911;
}
.rab-badge-status-green {
  background-color: #52c41a;
}
.rab-badge-status-blue {
  background-color: #1890ff;
}
.rab-badge-status-geekblue {
  background-color: #2f54eb;
}
.rab-badge-status-purple {
  background-color: #722ed1;
}
@keyframes rabStatusProcessing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
