.rab-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1;
  user-select: none;
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 2px;
  transition: color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #55585e;
  background-color: #fff;
  border-color: #dcdee2;
}
.rab-btn > .rab-icon {
  line-height: 1.5;
}
.rab-btn-icon-only.rab-btn-circle > .rab-icon {
  vertical-align: baseline;
}
.rab-btn > span,
.rab-btn > i {
  display: inline-block;
  vertical-align: initial;
}
.rab-btn,
.rab-btn:active,
.rab-btn:focus {
  outline: 0;
}
.rab-btn:not([disabled]):hover {
  text-decoration: none;
}
.rab-btn:not([disabled]):active {
  outline: 0;
}
.rab-btn.disabled,
.rab-btn[disabled] {
  cursor: not-allowed;
}
.rab-btn.disabled > *,
.rab-btn[disabled] > * {
  pointer-events: none;
}
.rab-btn-lg {
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 2px;
}
.rab-btn-sm {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 1px;
}
.rab-btn-icon-only {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 2px;
}
.rab-btn-icon-only.rab-btn-large {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  border-radius: 2px;
}
.rab-btn-icon-only.rab-btn-small {
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  border-radius: 2px;
}
.rab-btn > a:only-child {
  color: currentColor;
}
.rab-btn > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn:hover {
  color: #77797e;
  background-color: #ffffff;
  border-color: #e3e5e8;
}
.rab-btn:hover > a:only-child {
  color: currentColor;
}
.rab-btn:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn:active,
.rab-btn.active {
  color: #515459;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.rab-btn:active > a:only-child,
.rab-btn.active > a:only-child {
  color: currentColor;
}
.rab-btn:active > a:only-child:after,
.rab-btn.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn.disabled,
.rab-btn[disabled],
fieldset[disabled] .rab-btn,
.rab-btn.disabled:hover,
.rab-btn[disabled]:hover,
fieldset[disabled] .rab-btn:hover,
.rab-btn.disabled:focus,
.rab-btn[disabled]:focus,
fieldset[disabled] .rab-btn:focus,
.rab-btn.disabled:active,
.rab-btn[disabled]:active,
fieldset[disabled] .rab-btn:active,
.rab-btn.disabled.active,
.rab-btn[disabled].active,
fieldset[disabled] .rab-btn.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn.disabled > a:only-child,
.rab-btn[disabled] > a:only-child,
fieldset[disabled] .rab-btn > a:only-child,
.rab-btn.disabled:hover > a:only-child,
.rab-btn[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn:hover > a:only-child,
.rab-btn.disabled:focus > a:only-child,
.rab-btn[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn:focus > a:only-child,
.rab-btn.disabled:active > a:only-child,
.rab-btn[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn:active > a:only-child,
.rab-btn.disabled.active > a:only-child,
.rab-btn[disabled].active > a:only-child,
fieldset[disabled] .rab-btn.active > a:only-child {
  color: currentColor;
}
.rab-btn.disabled > a:only-child:after,
.rab-btn[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn > a:only-child:after,
.rab-btn.disabled:hover > a:only-child:after,
.rab-btn[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn:hover > a:only-child:after,
.rab-btn.disabled:focus > a:only-child:after,
.rab-btn[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn:focus > a:only-child:after,
.rab-btn.disabled:active > a:only-child:after,
.rab-btn[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn:active > a:only-child:after,
.rab-btn.disabled.active > a:only-child:after,
.rab-btn[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn:hover {
  color: #46a6ff;
  background-color: white;
  border-color: #46a6ff;
}
.rab-btn:hover > a:only-child {
  color: currentColor;
}
.rab-btn:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn:active,
.rab-btn.active {
  color: #1789f2;
  background-color: white;
  border-color: #1789f2;
}
.rab-btn:active > a:only-child,
.rab-btn.active > a:only-child {
  color: currentColor;
}
.rab-btn:active > a:only-child:after,
.rab-btn.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.rab-btn-long {
  width: 100%;
}
.rab-btn > .rab-icon-loading-solid {
  margin-right: 4px;
}
.rab-btn > .rab-icon + span,
.rab-btn > span + .rab-icon {
  margin-left: 4px;
}
.rab-btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}
.rab-btn-primary > a:only-child {
  color: currentColor;
}
.rab-btn-primary > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-primary:hover {
  color: #ffffff;
  background-color: #46a6ff;
  border-color: #46a6ff;
}
.rab-btn-primary:hover > a:only-child {
  color: currentColor;
}
.rab-btn-primary:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-primary:active,
.rab-btn-primary.active {
  color: #f2f2f2;
  background-color: #1789f2;
  border-color: #1789f2;
}
.rab-btn-primary:active > a:only-child,
.rab-btn-primary.active > a:only-child {
  color: currentColor;
}
.rab-btn-primary:active > a:only-child:after,
.rab-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-primary.disabled,
.rab-btn-primary[disabled],
fieldset[disabled] .rab-btn-primary,
.rab-btn-primary.disabled:hover,
.rab-btn-primary[disabled]:hover,
fieldset[disabled] .rab-btn-primary:hover,
.rab-btn-primary.disabled:focus,
.rab-btn-primary[disabled]:focus,
fieldset[disabled] .rab-btn-primary:focus,
.rab-btn-primary.disabled:active,
.rab-btn-primary[disabled]:active,
fieldset[disabled] .rab-btn-primary:active,
.rab-btn-primary.disabled.active,
.rab-btn-primary[disabled].active,
fieldset[disabled] .rab-btn-primary.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-primary.disabled > a:only-child,
.rab-btn-primary[disabled] > a:only-child,
fieldset[disabled] .rab-btn-primary > a:only-child,
.rab-btn-primary.disabled:hover > a:only-child,
.rab-btn-primary[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-primary:hover > a:only-child,
.rab-btn-primary.disabled:focus > a:only-child,
.rab-btn-primary[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-primary:focus > a:only-child,
.rab-btn-primary.disabled:active > a:only-child,
.rab-btn-primary[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-primary:active > a:only-child,
.rab-btn-primary.disabled.active > a:only-child,
.rab-btn-primary[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-primary.active > a:only-child {
  color: currentColor;
}
.rab-btn-primary.disabled > a:only-child:after,
.rab-btn-primary[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-primary > a:only-child:after,
.rab-btn-primary.disabled:hover > a:only-child:after,
.rab-btn-primary[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-primary:hover > a:only-child:after,
.rab-btn-primary.disabled:focus > a:only-child:after,
.rab-btn-primary[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-primary:focus > a:only-child:after,
.rab-btn-primary.disabled:active > a:only-child:after,
.rab-btn-primary[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-primary:active > a:only-child:after,
.rab-btn-primary.disabled.active > a:only-child:after,
.rab-btn-primary[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-primary.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-primary:hover,
.rab-btn-primary:active,
.rab-btn-primary.active {
  color: #fff;
}
.rab-btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: hsla(0, 0%, 100%, 0.5);
  border-left-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary:first-child:not(:last-child) {
  border-right-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #dcdee2;
}
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary:last-child:not(:first-child),
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary + .rab-btn {
  border-left-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary:last-child:not(:first-child)[disabled],
.rab-btn-group:not(.rab-btn-group-vertical) .rab-btn-primary + .rab-btn[disabled] {
  border-left-color: #dcdee2;
}
.rab-btn-group-vertical .rab-btn-primary:not(:first-child):not(:last-child) {
  border-top-color: hsla(0, 0%, 100%, 0.5);
  border-bottom-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group-vertical .rab-btn-primary:first-child:not(:last-child) {
  border-bottom-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group-vertical .rab-btn-primary:first-child:not(:last-child)[disabled] {
  border-top-color: #dcdee2;
}
.rab-btn-group-vertical .rab-btn-primary:last-child:not(:first-child),
.rab-btn-group-vertical .rab-btn-primary + .rab-btn {
  border-top-color: hsla(0, 0%, 100%, 0.5);
}
.rab-btn-group-vertical .rab-btn-primary:last-child:not(:first-child)[disabled],
.rab-btn-group-vertical .rab-btn-primary + .rab-btn[disabled] {
  border-bottom-color: #dcdee2;
}
.rab-btn-dashed {
  color: #55585e;
  background-color: #fff;
  border-color: #dcdee2;
  border-style: dashed;
}
.rab-btn-dashed > a:only-child {
  color: currentColor;
}
.rab-btn-dashed > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed:hover {
  color: #77797e;
  background-color: #ffffff;
  border-color: #e3e5e8;
}
.rab-btn-dashed:hover > a:only-child {
  color: currentColor;
}
.rab-btn-dashed:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed:active,
.rab-btn-dashed.active {
  color: #515459;
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
.rab-btn-dashed:active > a:only-child,
.rab-btn-dashed.active > a:only-child {
  color: currentColor;
}
.rab-btn-dashed:active > a:only-child:after,
.rab-btn-dashed.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed.disabled,
.rab-btn-dashed[disabled],
fieldset[disabled] .rab-btn-dashed,
.rab-btn-dashed.disabled:hover,
.rab-btn-dashed[disabled]:hover,
fieldset[disabled] .rab-btn-dashed:hover,
.rab-btn-dashed.disabled:focus,
.rab-btn-dashed[disabled]:focus,
fieldset[disabled] .rab-btn-dashed:focus,
.rab-btn-dashed.disabled:active,
.rab-btn-dashed[disabled]:active,
fieldset[disabled] .rab-btn-dashed:active,
.rab-btn-dashed.disabled.active,
.rab-btn-dashed[disabled].active,
fieldset[disabled] .rab-btn-dashed.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-dashed.disabled > a:only-child,
.rab-btn-dashed[disabled] > a:only-child,
fieldset[disabled] .rab-btn-dashed > a:only-child,
.rab-btn-dashed.disabled:hover > a:only-child,
.rab-btn-dashed[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-dashed:hover > a:only-child,
.rab-btn-dashed.disabled:focus > a:only-child,
.rab-btn-dashed[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-dashed:focus > a:only-child,
.rab-btn-dashed.disabled:active > a:only-child,
.rab-btn-dashed[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-dashed:active > a:only-child,
.rab-btn-dashed.disabled.active > a:only-child,
.rab-btn-dashed[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-dashed.active > a:only-child {
  color: currentColor;
}
.rab-btn-dashed.disabled > a:only-child:after,
.rab-btn-dashed[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-dashed > a:only-child:after,
.rab-btn-dashed.disabled:hover > a:only-child:after,
.rab-btn-dashed[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-dashed:hover > a:only-child:after,
.rab-btn-dashed.disabled:focus > a:only-child:after,
.rab-btn-dashed[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-dashed:focus > a:only-child:after,
.rab-btn-dashed.disabled:active > a:only-child:after,
.rab-btn-dashed[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-dashed:active > a:only-child:after,
.rab-btn-dashed.disabled.active > a:only-child:after,
.rab-btn-dashed[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-dashed.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed:hover {
  color: #46a6ff;
  background-color: #fff;
  border-color: #46a6ff;
}
.rab-btn-dashed:hover > a:only-child {
  color: currentColor;
}
.rab-btn-dashed:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed:active,
.rab-btn-dashed.active {
  color: #1789f2;
  background-color: #fff;
  border-color: #1789f2;
}
.rab-btn-dashed:active > a:only-child,
.rab-btn-dashed.active > a:only-child {
  color: currentColor;
}
.rab-btn-dashed:active > a:only-child:after,
.rab-btn-dashed.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-dashed:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.rab-btn-text {
  color: #55585e;
  background-color: transparent;
  border-color: transparent;
}
.rab-btn-text > a:only-child {
  color: currentColor;
}
.rab-btn-text > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text:hover {
  color: #77797e;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
.rab-btn-text:hover > a:only-child {
  color: currentColor;
}
.rab-btn-text:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text:active,
.rab-btn-text.active {
  color: #515459;
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
}
.rab-btn-text:active > a:only-child,
.rab-btn-text.active > a:only-child {
  color: currentColor;
}
.rab-btn-text:active > a:only-child:after,
.rab-btn-text.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text.disabled,
.rab-btn-text[disabled],
fieldset[disabled] .rab-btn-text,
.rab-btn-text.disabled:hover,
.rab-btn-text[disabled]:hover,
fieldset[disabled] .rab-btn-text:hover,
.rab-btn-text.disabled:focus,
.rab-btn-text[disabled]:focus,
fieldset[disabled] .rab-btn-text:focus,
.rab-btn-text.disabled:active,
.rab-btn-text[disabled]:active,
fieldset[disabled] .rab-btn-text:active,
.rab-btn-text.disabled.active,
.rab-btn-text[disabled].active,
fieldset[disabled] .rab-btn-text.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-text.disabled > a:only-child,
.rab-btn-text[disabled] > a:only-child,
fieldset[disabled] .rab-btn-text > a:only-child,
.rab-btn-text.disabled:hover > a:only-child,
.rab-btn-text[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-text:hover > a:only-child,
.rab-btn-text.disabled:focus > a:only-child,
.rab-btn-text[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-text:focus > a:only-child,
.rab-btn-text.disabled:active > a:only-child,
.rab-btn-text[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-text:active > a:only-child,
.rab-btn-text.disabled.active > a:only-child,
.rab-btn-text[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-text.active > a:only-child {
  color: currentColor;
}
.rab-btn-text.disabled > a:only-child:after,
.rab-btn-text[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-text > a:only-child:after,
.rab-btn-text.disabled:hover > a:only-child:after,
.rab-btn-text[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-text:hover > a:only-child:after,
.rab-btn-text.disabled:focus > a:only-child:after,
.rab-btn-text[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-text:focus > a:only-child:after,
.rab-btn-text.disabled:active > a:only-child:after,
.rab-btn-text[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-text:active > a:only-child:after,
.rab-btn-text.disabled.active > a:only-child:after,
.rab-btn-text[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-text.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text.disabled,
.rab-btn-text[disabled],
fieldset[disabled] .rab-btn-text,
.rab-btn-text.disabled:hover,
.rab-btn-text[disabled]:hover,
fieldset[disabled] .rab-btn-text:hover,
.rab-btn-text.disabled:focus,
.rab-btn-text[disabled]:focus,
fieldset[disabled] .rab-btn-text:focus,
.rab-btn-text.disabled:active,
.rab-btn-text[disabled]:active,
fieldset[disabled] .rab-btn-text:active,
.rab-btn-text.disabled.active,
.rab-btn-text[disabled].active,
fieldset[disabled] .rab-btn-text.active {
  color: #c5c8ce;
  background-color: #fff;
  border-color: transparent;
}
.rab-btn-text.disabled > a:only-child,
.rab-btn-text[disabled] > a:only-child,
fieldset[disabled] .rab-btn-text > a:only-child,
.rab-btn-text.disabled:hover > a:only-child,
.rab-btn-text[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-text:hover > a:only-child,
.rab-btn-text.disabled:focus > a:only-child,
.rab-btn-text[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-text:focus > a:only-child,
.rab-btn-text.disabled:active > a:only-child,
.rab-btn-text[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-text:active > a:only-child,
.rab-btn-text.disabled.active > a:only-child,
.rab-btn-text[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-text.active > a:only-child {
  color: currentColor;
}
.rab-btn-text.disabled > a:only-child:after,
.rab-btn-text[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-text > a:only-child:after,
.rab-btn-text.disabled:hover > a:only-child:after,
.rab-btn-text[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-text:hover > a:only-child:after,
.rab-btn-text.disabled:focus > a:only-child:after,
.rab-btn-text[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-text:focus > a:only-child:after,
.rab-btn-text.disabled:active > a:only-child:after,
.rab-btn-text[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-text:active > a:only-child:after,
.rab-btn-text.disabled.active > a:only-child:after,
.rab-btn-text[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-text.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text:hover {
  color: #46a6ff;
  background-color: #fff;
  border-color: transparent;
}
.rab-btn-text:hover > a:only-child {
  color: currentColor;
}
.rab-btn-text:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text:active,
.rab-btn-text.active {
  color: #1789f2;
  background-color: #fff;
  border-color: transparent;
}
.rab-btn-text:active > a:only-child,
.rab-btn-text.active > a:only-child {
  color: currentColor;
}
.rab-btn-text:active > a:only-child:after,
.rab-btn-text.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-text:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.rab-btn-success {
  color: #fff;
  background-color: #52c41a;
  border-color: #52c41a;
}
.rab-btn-success > a:only-child {
  color: currentColor;
}
.rab-btn-success > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-success:hover {
  color: #ffffff;
  background-color: #75d048;
  border-color: #75d048;
}
.rab-btn-success:hover > a:only-child {
  color: currentColor;
}
.rab-btn-success:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-success:active,
.rab-btn-success.active {
  color: #f2f2f2;
  background-color: #4eba19;
  border-color: #4eba19;
}
.rab-btn-success:active > a:only-child,
.rab-btn-success.active > a:only-child {
  color: currentColor;
}
.rab-btn-success:active > a:only-child:after,
.rab-btn-success.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-success.disabled,
.rab-btn-success[disabled],
fieldset[disabled] .rab-btn-success,
.rab-btn-success.disabled:hover,
.rab-btn-success[disabled]:hover,
fieldset[disabled] .rab-btn-success:hover,
.rab-btn-success.disabled:focus,
.rab-btn-success[disabled]:focus,
fieldset[disabled] .rab-btn-success:focus,
.rab-btn-success.disabled:active,
.rab-btn-success[disabled]:active,
fieldset[disabled] .rab-btn-success:active,
.rab-btn-success.disabled.active,
.rab-btn-success[disabled].active,
fieldset[disabled] .rab-btn-success.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-success.disabled > a:only-child,
.rab-btn-success[disabled] > a:only-child,
fieldset[disabled] .rab-btn-success > a:only-child,
.rab-btn-success.disabled:hover > a:only-child,
.rab-btn-success[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-success:hover > a:only-child,
.rab-btn-success.disabled:focus > a:only-child,
.rab-btn-success[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-success:focus > a:only-child,
.rab-btn-success.disabled:active > a:only-child,
.rab-btn-success[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-success:active > a:only-child,
.rab-btn-success.disabled.active > a:only-child,
.rab-btn-success[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-success.active > a:only-child {
  color: currentColor;
}
.rab-btn-success.disabled > a:only-child:after,
.rab-btn-success[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-success > a:only-child:after,
.rab-btn-success.disabled:hover > a:only-child:after,
.rab-btn-success[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-success:hover > a:only-child:after,
.rab-btn-success.disabled:focus > a:only-child:after,
.rab-btn-success[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-success:focus > a:only-child:after,
.rab-btn-success.disabled:active > a:only-child:after,
.rab-btn-success[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-success:active > a:only-child:after,
.rab-btn-success.disabled.active > a:only-child:after,
.rab-btn-success[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-success.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-success:hover,
.rab-btn-success:active,
.rab-btn-success.active {
  color: #fff;
}
.rab-btn-success:focus {
  box-shadow: 0 0 0 2px rgba(82, 196, 26, 0.2);
}
.rab-btn-warning {
  color: #fff;
  background-color: #faad14;
  border-color: #faad14;
}
.rab-btn-warning > a:only-child {
  color: currentColor;
}
.rab-btn-warning > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-warning:hover {
  color: #ffffff;
  background-color: #fbbd43;
  border-color: #fbbd43;
}
.rab-btn-warning:hover > a:only-child {
  color: currentColor;
}
.rab-btn-warning:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-warning:active,
.rab-btn-warning.active {
  color: #f2f2f2;
  background-color: #eea413;
  border-color: #eea413;
}
.rab-btn-warning:active > a:only-child,
.rab-btn-warning.active > a:only-child {
  color: currentColor;
}
.rab-btn-warning:active > a:only-child:after,
.rab-btn-warning.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-warning.disabled,
.rab-btn-warning[disabled],
fieldset[disabled] .rab-btn-warning,
.rab-btn-warning.disabled:hover,
.rab-btn-warning[disabled]:hover,
fieldset[disabled] .rab-btn-warning:hover,
.rab-btn-warning.disabled:focus,
.rab-btn-warning[disabled]:focus,
fieldset[disabled] .rab-btn-warning:focus,
.rab-btn-warning.disabled:active,
.rab-btn-warning[disabled]:active,
fieldset[disabled] .rab-btn-warning:active,
.rab-btn-warning.disabled.active,
.rab-btn-warning[disabled].active,
fieldset[disabled] .rab-btn-warning.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-warning.disabled > a:only-child,
.rab-btn-warning[disabled] > a:only-child,
fieldset[disabled] .rab-btn-warning > a:only-child,
.rab-btn-warning.disabled:hover > a:only-child,
.rab-btn-warning[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-warning:hover > a:only-child,
.rab-btn-warning.disabled:focus > a:only-child,
.rab-btn-warning[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-warning:focus > a:only-child,
.rab-btn-warning.disabled:active > a:only-child,
.rab-btn-warning[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-warning:active > a:only-child,
.rab-btn-warning.disabled.active > a:only-child,
.rab-btn-warning[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-warning.active > a:only-child {
  color: currentColor;
}
.rab-btn-warning.disabled > a:only-child:after,
.rab-btn-warning[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-warning > a:only-child:after,
.rab-btn-warning.disabled:hover > a:only-child:after,
.rab-btn-warning[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-warning:hover > a:only-child:after,
.rab-btn-warning.disabled:focus > a:only-child:after,
.rab-btn-warning[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-warning:focus > a:only-child:after,
.rab-btn-warning.disabled:active > a:only-child:after,
.rab-btn-warning[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-warning:active > a:only-child:after,
.rab-btn-warning.disabled.active > a:only-child:after,
.rab-btn-warning[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-warning.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-warning:hover,
.rab-btn-warning:active,
.rab-btn-warning.active {
  color: #fff;
}
.rab-btn-warning:focus {
  box-shadow: 0 0 0 2px rgba(250, 173, 20, 0.2);
}
.rab-btn-error {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}
.rab-btn-error > a:only-child {
  color: currentColor;
}
.rab-btn-error > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-error:hover {
  color: #ffffff;
  background-color: #ff7172;
  border-color: #ff7172;
}
.rab-btn-error:hover > a:only-child {
  color: currentColor;
}
.rab-btn-error:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-error:active,
.rab-btn-error.active {
  color: #f2f2f2;
  background-color: #f2494b;
  border-color: #f2494b;
}
.rab-btn-error:active > a:only-child,
.rab-btn-error.active > a:only-child {
  color: currentColor;
}
.rab-btn-error:active > a:only-child:after,
.rab-btn-error.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-error.disabled,
.rab-btn-error[disabled],
fieldset[disabled] .rab-btn-error,
.rab-btn-error.disabled:hover,
.rab-btn-error[disabled]:hover,
fieldset[disabled] .rab-btn-error:hover,
.rab-btn-error.disabled:focus,
.rab-btn-error[disabled]:focus,
fieldset[disabled] .rab-btn-error:focus,
.rab-btn-error.disabled:active,
.rab-btn-error[disabled]:active,
fieldset[disabled] .rab-btn-error:active,
.rab-btn-error.disabled.active,
.rab-btn-error[disabled].active,
fieldset[disabled] .rab-btn-error.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-error.disabled > a:only-child,
.rab-btn-error[disabled] > a:only-child,
fieldset[disabled] .rab-btn-error > a:only-child,
.rab-btn-error.disabled:hover > a:only-child,
.rab-btn-error[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-error:hover > a:only-child,
.rab-btn-error.disabled:focus > a:only-child,
.rab-btn-error[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-error:focus > a:only-child,
.rab-btn-error.disabled:active > a:only-child,
.rab-btn-error[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-error:active > a:only-child,
.rab-btn-error.disabled.active > a:only-child,
.rab-btn-error[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-error.active > a:only-child {
  color: currentColor;
}
.rab-btn-error.disabled > a:only-child:after,
.rab-btn-error[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-error > a:only-child:after,
.rab-btn-error.disabled:hover > a:only-child:after,
.rab-btn-error[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-error:hover > a:only-child:after,
.rab-btn-error.disabled:focus > a:only-child:after,
.rab-btn-error[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-error:focus > a:only-child:after,
.rab-btn-error.disabled:active > a:only-child:after,
.rab-btn-error[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-error:active > a:only-child:after,
.rab-btn-error.disabled.active > a:only-child:after,
.rab-btn-error[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-error.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-error:hover,
.rab-btn-error:active,
.rab-btn-error.active {
  color: #fff;
}
.rab-btn-error:focus {
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}
.rab-btn-info {
  color: #fff;
  background-color: #2db7f5;
  border-color: #2db7f5;
}
.rab-btn-info > a:only-child {
  color: currentColor;
}
.rab-btn-info > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-info:hover {
  color: #ffffff;
  background-color: #57c5f7;
  border-color: #57c5f7;
}
.rab-btn-info:hover > a:only-child {
  color: currentColor;
}
.rab-btn-info:hover > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-info:active,
.rab-btn-info.active {
  color: #f2f2f2;
  background-color: #2baee9;
  border-color: #2baee9;
}
.rab-btn-info:active > a:only-child,
.rab-btn-info.active > a:only-child {
  color: currentColor;
}
.rab-btn-info:active > a:only-child:after,
.rab-btn-info.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-info.disabled,
.rab-btn-info[disabled],
fieldset[disabled] .rab-btn-info,
.rab-btn-info.disabled:hover,
.rab-btn-info[disabled]:hover,
fieldset[disabled] .rab-btn-info:hover,
.rab-btn-info.disabled:focus,
.rab-btn-info[disabled]:focus,
fieldset[disabled] .rab-btn-info:focus,
.rab-btn-info.disabled:active,
.rab-btn-info[disabled]:active,
fieldset[disabled] .rab-btn-info:active,
.rab-btn-info.disabled.active,
.rab-btn-info[disabled].active,
fieldset[disabled] .rab-btn-info.active {
  color: #c5c8ce;
  background-color: #f7f7f7;
  border-color: #dcdee2;
}
.rab-btn-info.disabled > a:only-child,
.rab-btn-info[disabled] > a:only-child,
fieldset[disabled] .rab-btn-info > a:only-child,
.rab-btn-info.disabled:hover > a:only-child,
.rab-btn-info[disabled]:hover > a:only-child,
fieldset[disabled] .rab-btn-info:hover > a:only-child,
.rab-btn-info.disabled:focus > a:only-child,
.rab-btn-info[disabled]:focus > a:only-child,
fieldset[disabled] .rab-btn-info:focus > a:only-child,
.rab-btn-info.disabled:active > a:only-child,
.rab-btn-info[disabled]:active > a:only-child,
fieldset[disabled] .rab-btn-info:active > a:only-child,
.rab-btn-info.disabled.active > a:only-child,
.rab-btn-info[disabled].active > a:only-child,
fieldset[disabled] .rab-btn-info.active > a:only-child {
  color: currentColor;
}
.rab-btn-info.disabled > a:only-child:after,
.rab-btn-info[disabled] > a:only-child:after,
fieldset[disabled] .rab-btn-info > a:only-child:after,
.rab-btn-info.disabled:hover > a:only-child:after,
.rab-btn-info[disabled]:hover > a:only-child:after,
fieldset[disabled] .rab-btn-info:hover > a:only-child:after,
.rab-btn-info.disabled:focus > a:only-child:after,
.rab-btn-info[disabled]:focus > a:only-child:after,
fieldset[disabled] .rab-btn-info:focus > a:only-child:after,
.rab-btn-info.disabled:active > a:only-child:after,
.rab-btn-info[disabled]:active > a:only-child:after,
fieldset[disabled] .rab-btn-info:active > a:only-child:after,
.rab-btn-info.disabled.active > a:only-child:after,
.rab-btn-info[disabled].active > a:only-child:after,
fieldset[disabled] .rab-btn-info.active > a:only-child:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
}
.rab-btn-info:hover,
.rab-btn-info:active,
.rab-btn-info.active {
  color: #fff;
}
.rab-btn-info:focus {
  box-shadow: 0 0 0 2px rgba(45, 183, 245, 0.2);
}
.rab-btn-circle,
.rab-btn-circle-outline {
  border-radius: 32px;
}
.rab-btn-circle.rab-btn-large,
.rab-btn-circle-outline.rab-btn-large {
  border-radius: 40px;
}
.rab-btn-circle.rab-btn-size,
.rab-btn-circle-outline.rab-btn-size {
  border-radius: 24px;
}
.rab-btn-circle.rab-btn-icon-only,
.rab-btn-circle-outline.rab-btn-icon-only {
  width: 32px;
  height: 32px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
}
.rab-btn-circle.rab-btn-icon-only.rab-btn-large,
.rab-btn-circle-outline.rab-btn-icon-only.rab-btn-large {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 18px;
  border-radius: 50%;
}
.rab-btn-circle.rab-btn-icon-only.rab-btn-small,
.rab-btn-circle-outline.rab-btn-icon-only.rab-btn-small {
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
}
.rab-btn:before {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  background: #fff;
  opacity: 0.35;
  content: '';
  border-radius: inherit;
  z-index: 1;
  transition: opacity 0.2s;
  pointer-events: none;
  display: none;
}
.rab-btn.rab-btn-loading {
  pointer-events: none;
  position: relative;
}
.rab-btn.rab-btn-loading:before {
  display: block;
}
.rab-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.rab-btn-group > .rab-btn {
  position: relative;
  float: left;
}
.rab-btn-group > .rab-btn:hover,
.rab-btn-group > .rab-btn:active,
.rab-btn-group > .rab-btn.active {
  z-index: 2;
}
.rab-btn-group-circle .rab-btn {
  border-radius: 32px;
}
.rab-btn-group-lg.rab-btn-group-circle .rab-btn {
  border-radius: 40px;
}
.rab-btn-group-lg > .rab-btn {
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 2px;
}
.rab-btn-group-sm.rab-btn-group-circle .rab-btn {
  border-radius: 24px;
}
.rab-btn-group-sm > .rab-btn {
  height: 24px;
  padding: 0 7px;
  font-size: 14px;
  border-radius: 1px;
}
.rab-btn-group-sm > .rab-btn > .rab-icon {
  font-size: 14px;
}
.rab-btn-group-sm .rab-btn-icon-only {
  width: 24px;
  height: 24px;
  padding: 0;
}
.rab-btn-group-lg .rab-btn-icon-only {
  width: 40px;
  height: 40px;
  padding: 0;
}
.rab-btn-group .rab-btn + .rab-btn,
.rab-btn + .rab-btn-group,
.rab-btn-group + .rab-btn,
.rab-btn-group + .rab-btn-group {
  margin-left: -1px;
}
.rab-btn-group .rab-btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.rab-btn-group:not(.rab-btn-group-vertical) > .rab-btn:first-child {
  margin-left: 0;
}
.rab-btn-group:not(.rab-btn-group-vertical) > .rab-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.rab-btn-group:not(.rab-btn-group-vertical) > .rab-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.rab-btn-group > .rab-btn-group {
  float: left;
}
.rab-btn-group > .rab-btn-group:not(:first-child):not(:last-child) > .rab-btn {
  border-radius: 0;
}
.rab-btn-group:not(.rab-btn-group-vertical) > .rab-btn-group:first-child:not(:last-child) > .rab-btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-right: 8px;
}
.rab-btn-group:not(.rab-btn-group-vertical) > .rab-btn-group:last-child:not(:first-child) > .rab-btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding-left: 8px;
}
.rab-btn-group-vertical {
  display: inline-block;
  vertical-align: middle;
}
.rab-btn-group-vertical > .rab-btn {
  display: block;
  width: 100%;
  max-width: 100%;
  float: none;
  min-width: 32px;
}
.rab-btn-group-vertical.rab-btn-group-small > .rab-btn {
  min-width: 24px;
}
.rab-btn-group-vertical.rab-btn-group-large > .rab-btn {
  min-width: 40px;
}
.rab-btn-group-vertical .rab-btn + .rab-btn,
.rab-btn + .rab-btn-group-vertical,
.rab-btn-group-vertical + .rab-btn,
.rab-btn-group-vertical + .rab-btn-group-vertical {
  margin-top: -1px;
  margin-left: 0px;
}
.rab-btn-group-vertical > .rab-btn:first-child {
  margin-top: 0;
}
.rab-btn-group-vertical > .rab-btn:first-child:not(:last-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.rab-btn-group-vertical > .rab-btn:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.rab-btn-group-vertical > .rab-btn-group-vertical:first-child:not(:last-child) > .rab-btn:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 8px;
}
.rab-btn-group-vertical > .rab-btn-group-vertical:last-child:not(:first-child) > .rab-btn:first-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 8px;
}
.rab-btn-ghost {
  color: #fff;
  background: transparent;
}
.rab-btn-ghost:hover {
  background: transparent;
}
.rab-btn-ghost.rab-btn-dashed,
.rab-btn-ghost.rab-btn-default {
  color: #fff;
  border-color: #fff;
}
.rab-btn-ghost.rab-btn-dashed:hover,
.rab-btn-ghost.rab-btn-default:hover {
  color: #46a6ff;
  border-color: #46a6ff;
}
.rab-btn-ghost.rab-btn-primary {
  color: #1890ff;
}
.rab-btn-ghost.rab-btn-primary:hover {
  color: #46a6ff;
  background: rgba(243, 249, 255, 0.5);
}
.rab-btn-ghost.rab-btn-info {
  color: #2db7f5;
}
.rab-btn-ghost.rab-btn-info:hover {
  color: #57c5f7;
  background: rgba(245, 251, 254, 0.5);
}
.rab-btn-ghost.rab-btn-success {
  color: #52c41a;
}
.rab-btn-ghost.rab-btn-success:hover {
  color: #75d048;
  background: rgba(246, 252, 244, 0.5);
}
.rab-btn-ghost.rab-btn-warning {
  color: #faad14;
}
.rab-btn-ghost.rab-btn-warning:hover {
  color: #fbbd43;
  background: rgba(255, 251, 243, 0.5);
}
.rab-btn-ghost.rab-btn-error {
  color: #ff4d4f;
}
.rab-btn-ghost.rab-btn-error:hover {
  color: #ff7172;
  background: rgba(255, 246, 246, 0.5);
}
.rab-btn-ghost.rab-btn-default[disabled],
.rab-btn-ghost.rab-btn-dashed[disabled],
.rab-btn-ghost.rab-btn-primary[disabled],
.rab-btn-ghost.rab-btn-info[disabled],
.rab-btn-ghost.rab-btn-success[disabled],
.rab-btn-ghost.rab-btn-warning[disabled],
.rab-btn-ghost.rab-btn-error[disabled] {
  background: transparent;
  color: rgba(0, 0, 0, 0.25);
  border-color: #dcdee2;
}
.rab-btn-ghost.rab-btn-text[disabled] {
  background: transparent;
  color: rgba(0, 0, 0, 0.25);
}
a.rab-btn {
  padding-top: 0.1px;
  line-height: 30px;
}
a.rab-btn-lg {
  line-height: 38px;
}
a.rab-btn-sm {
  line-height: 22px;
}
