@import '../custom.less';

@carousel-tag: r-carousel;
@carousel-item-tag: r-carousel-item;
@carousel-prefix-cls: ~'@{css-prefix}carousel';

@{carousel-tag} {
}

@{carousel-item-tag} {
}

.@{carousel-prefix-cls} {
}
