r-alert {
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  position: relative;
  display: block;
  padding: 8px 15px;
  margin-bottom: 10px;
  word-wrap: break-word;
  border-radius: 2px;
  border: 1px solid #aed8ff;
  background-color: #edf6ff;
}
r-alert .rab-alert-icon {
  color: #1890ff;
}
r-alert[type='success'] {
  border: 1px solid #c2eaaf;
  background-color: #f6ffed;
}
r-alert[type='success'] .rab-alert-icon {
  color: #52c41a;
}
r-alert[type='info'] {
  border: 1px solid #aed8ff;
  background-color: #edf6ff;
}
r-alert[type='info'] .rab-alert-icon {
  color: #1890ff;
}
r-alert[type='warning'] {
  border: 1px solid #fde2ad;
  background-color: #fffbe6;
}
r-alert[type='warning'] .rab-alert-icon {
  color: #faad14;
}
r-alert[type='error'] {
  border: 1px solid #ffc1c1;
  background-color: #fff2f0;
}
r-alert[type='error'] .rab-alert-icon {
  color: #ff4d4f;
}
r-alert[banner='true'] {
  border: 0;
  border-radius: 0;
}
.rab-alert-with-icon {
  padding: 8px 48px 8px 35px;
}
.rab-alert-icon {
  font-size: 16px;
  top: 6px;
  left: 12px;
  position: absolute;
}
.rab-alert-message {
  color: #2c3e50;
}
.rab-alert-desc {
  font-size: 14px;
  color: #55585e;
  line-height: 22px;
  display: none;
}
.rab-alert-close {
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;
}
.rab-alert-close .rab-icon-ios-close {
  font-size: 22px;
  color: #999;
  transition: color 0.2s ease;
  position: relative;
  top: 0;
}
.rab-alert-close .rab-icon-ios-close:hover {
  color: #666;
}
.rab-alert-with-desc.rab-alert-with-icon {
  padding: 15px 15px 15px 69px;
}
.rab-alert-with-desc {
  padding: 16px;
  position: relative;
  border-radius: 2px;
  margin-bottom: 10px;
  color: #55585e;
  line-height: 1.5715;
}
.rab-alert-with-desc .rab-alert-desc {
  display: block;
}
.rab-alert-with-desc .rab-alert-message {
  font-size: 16px;
  color: #2c3e50;
  display: block;
  margin-bottom: 4px;
}
.rab-alert-with-desc .rab-alert-icon {
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  font-size: 30px;
}
.rab-progress-outer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}
.rab-progress-show-info .rab-progress-outer {
  padding-right: 55px;
  margin-right: -55px;
}
r-progress[type='vertical'] .rab-progress-outer {
  width: auto;
  height: 100%;
}
.rab-progress-inner {
  display: inline-block;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 100px;
  vertical-align: middle;
  position: relative;
}
.rab-progress-inner-text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0 6px;
}
r-progress[type='vertical'] .rab-progress-inner {
  width: auto;
  height: 100%;
}
r-progress[type='vertical'] .rab-progress-inner > *,
r-progress[type='vertical'] .rab-progress-inner:after {
  display: inline-block;
  vertical-align: bottom;
}
r-progress[type='vertical'] .rab-progress-inner:after {
  content: '';
  height: 100%;
}
.rab-progress-bg {
  text-align: right;
  border-radius: 100px;
  background-color: #1890ff;
  transition: all 0.2s linear;
  position: relative;
}
.rab-progress-bg:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.rab-progress-success-bg {
  border-radius: 100px;
  background-color: #52c41a;
  transition: all 0.2s linear;
  position: absolute;
  top: 0;
  left: 0;
}
.rab-progress-text {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  color: #808695;
}
r-progress {
  display: inline-block;
  width: 100%;
  line-height: 1.5715;
  font-size: 12px;
  position: relative;
}
r-progress[type='vertical'] {
  width: auto;
  height: 100%;
}
r-progress[type='vertical'][status='active'] .rab-progress-bg:before {
  top: auto;
  -webkit-animation: rab-progress-active-vertical 2s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  animation: rab-progress-active-vertical 2s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}
r-progress[status='active'] .rab-progress-bg:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 10px;
  -webkit-animation: rab-progress-active 2s ease-in-out infinite;
  animation: rab-progress-active 2s ease-in-out infinite;
}
r-progress[status='success'] .rab-progress-bg {
  background-color: #52c41a;
}
r-progress[status='success'] .rab-progress-text {
  color: #52c41a;
}
r-progress[status='wrong'] .rab-progress-bg {
  background-color: #ff4d4f;
}
r-progress[status='wrong'] .rab-progress-text {
  color: #ff4d4f;
}
@-webkit-keyframes rab-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@keyframes rab-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@-webkit-keyframes rab-progress-active-vertical {
  0% {
    opacity: 0.3;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
@keyframes rab-progress-active-vertical {
  0% {
    opacity: 0.3;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
