/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.rab-message {
  font-size: 14px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none;
}
.rab-message-notice {
  padding: 8px;
  text-align: center;
  transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.rab-message-notice:first-child {
  margin-top: -8px;
}
.rab-message-notice-close {
  position: absolute;
  right: 4px;
  top: 10px;
  color: #999;
  outline: none;
}
.rab-message-notice-close i.rab-icon {
  font-size: 22px;
  color: #999;
  transition: color 0.2s ease;
  position: relative;
  top: 2px;
}
.rab-message-notice-close i.rab-icon:hover {
  color: #666;
}
.rab-message-notice-content {
  display: inline-block;
  pointer-events: all;
  padding: 10px 16px;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  background: #fff;
  position: relative;
}
.rab-message-notice-content-text {
  display: inline-block;
}
.rab-message-notice-closable .rab-message-notice-content-text {
  padding-right: 32px;
}
.rab-message-success .rab-icon {
  color: #52c41a;
}
.rab-message-error .rab-icon {
  color: #ff4d4f;
}
.rab-message-warning .rab-icon {
  color: #faad14;
}
.rab-message-info .rab-icon,
.rab-message-loading .rab-icon {
  color: #1890ff;
}
.rab-message .rab-icon {
  margin-right: 4px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
.rab-message-notice-with-background .rab-message-notice-content-background {
  box-shadow: none;
  border-radius: 4px;
}
.rab-message-notice-with-background .rab-message-notice-content-info {
  background: #f0faff;
  color: #178fff;
  border: 1px solid #cfefff;
}
.rab-message-notice-with-background .rab-message-notice-content-success {
  background: #f2ffe6;
  color: #52c41a;
  border: 1px solid #d9f7be;
}
.rab-message-notice-with-background .rab-message-notice-content-warning {
  background: #fffbe6;
  color: #faad14;
  border: 1px solid #fff1b8;
}
.rab-message-notice-with-background .rab-message-notice-content-error {
  background: #fff2f0;
  color: #ff4d4f;
  border: 1px solid #fff1f0;
}
.rab-message-move-enter {
  -webkit-animation: rabMessageMoveIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: rabMessageMoveIn 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rab-message-move-leave {
  -webkit-animation: rabMessageMoveOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: rabMessageMoveOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@-webkit-keyframes rabMessageMoveIn {
  0% {
    opacity: 0;
    padding: 8px;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    padding: 8px;
    transform: translateY(0);
  }
}
@keyframes rabMessageMoveIn {
  0% {
    opacity: 0;
    padding: 8px;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    padding: 8px;
    transform: translateY(0);
  }
}
@-webkit-keyframes rabMessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes rabMessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
