.rab-progress-outer {
  display: inline-block;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}
.rab-progress-show-info .rab-progress-outer {
  padding-right: 55px;
  margin-right: -55px;
}
r-progress[type='vertical'] .rab-progress-outer {
  width: auto;
  height: 100%;
}
.rab-progress-inner {
  display: inline-block;
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 100px;
  vertical-align: middle;
  position: relative;
}
.rab-progress-inner-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  margin: 0 6px;
}
r-progress[type='vertical'] .rab-progress-inner {
  width: auto;
  height: 100%;
}
r-progress[type='vertical'] .rab-progress-inner > *,
r-progress[type='vertical'] .rab-progress-inner:after {
  display: inline-block;
  vertical-align: bottom;
}
r-progress[type='vertical'] .rab-progress-inner:after {
  content: '';
  height: 100%;
}
.rab-progress-bg {
  text-align: right;
  border-radius: 100px;
  background-color: #1890ff;
  transition: all 0.4s;
  position: relative;
}
.rab-progress-bg:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.rab-progress-bg .rab-progress-inner-text {
  color: #fff;
}
.rab-progress-success-bg {
  border-radius: 100px;
  background-color: #52c41a;
  transition: all 0.4s;
  position: absolute;
  top: 0;
  left: 0;
}
.rab-progress-text {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  font-size: 1em;
  vertical-align: middle;
  color: #808695;
}
r-progress {
  display: inline-block;
  width: 100%;
  line-height: 1.5715;
  font-size: 12px;
  position: relative;
}
r-progress[status='active'] .rab-progress-bg:before {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 10px;
  -webkit-animation: rab-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  animation: rab-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
}
r-progress[status='success'] .rab-progress-bg {
  background-color: #52c41a;
}
r-progress[status='success'] .rab-progress-text {
  color: #52c41a;
}
r-progress[status='warning'] .rab-progress-bg {
  background-color: #faad14;
}
r-progress[status='warning'] .rab-progress-text {
  color: #faad14;
}
r-progress[status='wrong'] .rab-progress-bg {
  background-color: #ff4d4f;
}
r-progress[status='wrong'] .rab-progress-text {
  color: #ff4d4f;
}
@-webkit-keyframes rab-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@keyframes rab-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@-webkit-keyframes rab-progress-active-vertical {
  0% {
    opacity: 0.3;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
@keyframes rab-progress-active-vertical {
  0% {
    opacity: 0.3;
    height: 0;
  }
  100% {
    opacity: 0;
    height: 100%;
  }
}
