@-webkit-keyframes rabNoticeMoveIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rabNoticeMoveIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rabNoticeMoveOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    margin-bottom: 0;
  }
}
@keyframes rabNoticeMoveOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    margin-bottom: 0;
  }
}
@-webkit-keyframes rabNoticeMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rabNoticeMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes rabNoticeMoveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    margin-bottom: 0;
  }
}
@keyframes rabNoticeMoveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    margin-bottom: 0;
  }
}
@-webkit-keyframes rabModalMoveIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rabModalMoveIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
