<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/badge.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 20px auto;
    }
    
    .demo-badge {
        width: 42px;
        height: 42px;
        border-radius: 2px;
        background: #eee;
        display: inline-block;
        vertical-align: middle;
    }
</style>

<body>
    <div class="demo">
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">5</sup>
        </div>
        <div class="rbt-badge" id="b1">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">0</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <div class="rbt-badge-count custom">
                <i class="rbt-icon rbt-icon-md-time" style="color: #f5222d"></i>
            </div>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-dot"></sup>
        </div>
        <div class="rbt-badge">
            <i class="rbt-icon rbt-icon-ios-notifications-outline" style="font-size: 26px"></i>
            <sup class="rbt-badge-dot"></sup>
        </div>
        <div class="rbt-badge">
            <a href="#">新消息提醒</a>
            <sup class="rbt-badge-dot"></sup>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">99</sup>
        </div>
        <div class="rbt-badge" id="b2">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">100</sup>
        </div>
        <div class="rbt-badge" id="b3">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">11</sup>
        </div>
        <div class="rbt-badge" id="b4">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">1000</sup>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge rbt-badge-not-wrapper">
            <sup class="rbt-badge-count alone">10</sup>
        </div>
        <div class="rbt-badge rbt-badge-not-wrapper">
            <sup class="rbt-badge-count normal alone">4</sup>
        </div>
        <div class="rbt-badge rbt-badge-not-wrapper">
            <sup class="rbt-badge-count success alone">20</sup>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">new</sup>
        </div>
        <div class="rbt-badge" id="b1">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count">hot</sup>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot success"></span>
        </div>
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot error"></span>
        </div>
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot default"></span>
        </div>
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot processing"></span>
        </div>
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot warning"></span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot success"></span>
            <span class="rbt-badge-status-text">Success</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot error"></span>
            <span class="rbt-badge-status-text">Error</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot default"></span>
            <span class="rbt-badge-status-text">Default</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot processing"></span>
            <span class="rbt-badge-status-text">Processing</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot warning"></span>
            <span class="rbt-badge-status-text">Warning</span>
        </div>
    </div>

    <div class="demo">
        <h3>预设:</h3>
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot blue"></span>
            <span class="rbt-badge-status-text">blue</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot green"></span>
            <span class="rbt-badge-status-text">green</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot red"></span>
            <span class="rbt-badge-status-text">red</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot yellow"></span>
            <span class="rbt-badge-status-text">yellow</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot pink"></span>
            <span class="rbt-badge-status-text">pink</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot magenta"></span>
            <span class="rbt-badge-status-text">magenta</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot volcano"></span>
            <span class="rbt-badge-status-text">volcano</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot orange"></span>
            <span class="rbt-badge-status-text">orange</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot gold"></span>
            <span class="rbt-badge-status-text">gold</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot lime"></span>
            <span class="rbt-badge-status-text">lime</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot cyan"></span>
            <span class="rbt-badge-status-text">cyan</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot geekblue"></span>
            <span class="rbt-badge-status-text">geekblue</span>
        </div>
        <br />
        <div class="rbt-badge rbt-badge-status">
            <span class="rbt-badge-status-dot purple"></span>
            <span class="rbt-badge-status-text">purple</span>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count primary">5</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count success">5</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count normal">5</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count info">5</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count error">5</sup>
        </div>
        <div class="rbt-badge">
            <a href="#" class="demo-badge"></a>
            <sup class="rbt-badge-count warning">5</sup>
        </div>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./badge.js"></script>
<script>
    RabbitUI.Badge.listenCount({
        el: "#b1",
        showZero: true,
    });
    RabbitUI.Badge.listenCount({
        el: "#b2",
        overflowCount: 99,
    });
    RabbitUI.Badge.listenCount({
        el: "#b3",
        overflowCount: 10,
    });
    RabbitUI.Badge.listenCount({
        el: "#b4",
        overflowCount: 999,
    });
</script>

</html>