<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 650px;
        margin: 10px auto;
        padding: 24px;
    }
    
    .demo button+button {
        margin-left: 10px;
    }
</style>

<body>
    <div class="demo">
        <button type="button" class="rbt-btn">默认按钮</button>
        <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
        <button type="button" class="rbt-btn rbt-btn-success">成功按钮</button>
        <button type="button" class="rbt-btn rbt-btn-info">信息按钮</button>
        <button type="button" class="rbt-btn rbt-btn-warning">警告按钮</button>
        <button type="button" class="rbt-btn rbt-btn-danger">危险按钮</button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-dashed">虚线按钮</button>
        <button type="button" class="rbt-btn rbt-btn-text">文本按钮</button>
        <button type="button" class="rbt-btn rbt-btn-link">链接按钮</button>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn rbt-btn-primary outline">
        主要按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-success outline">
        成功按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-info outline">
        信息按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-warning outline">
        信息按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-danger outline">
        危险按钮
      </button>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn round">圆角按钮</button>
        <button type="button" class="rbt-btn rbt-btn-primary round">
        主要按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-success round">
        成功按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-info round">信息按钮</button>
        <button type="button" class="rbt-btn rbt-btn-warning round">
        信息按钮
      </button>
        <button type="button" class="rbt-btn rbt-btn-danger round">
        危险按钮
      </button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-dashed round">
        虚线按钮
      </button>
    </div>

    <div class="demo">
        <button type="button" disabled class="rbt-btn">默认按钮</button>
        <button type="button" disabled class="rbt-btn rbt-btn-primary">
        主要按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-success">
        成功按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-info">
        信息按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-warning">
        警告按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-danger">
        危险按钮
      </button>
        <br /><br />
        <button type="button" disabled class="rbt-btn rbt-btn-dashed">
        虚线按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-text">
        文本按钮
      </button>
        <button type="button" disabled class="rbt-btn rbt-btn-link">
        链接按钮
      </button>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn circle">友</button>
        <button type="button" class="rbt-btn rbt-btn-primary circle">自</button>
        <button type="button" class="rbt-btn rbt-btn-success circle">平</button>
        <button type="button" class="rbt-btn rbt-btn-info circle">公</button>
        <button type="button" class="rbt-btn rbt-btn-warning circle">法</button>
        <button type="button" class="rbt-btn rbt-btn-danger circle">富</button>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn rbt-btn-primary large">
        主要按钮
      </button>
        <button type="button" class="rbt-btn large">默认按钮</button>
        <button type="button" class="rbt-btn rbt-btn-dashed large">
        虚线按钮
      </button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
        <button type="button" class="rbt-btn">默认按钮</button>
        <button type="button" class="rbt-btn rbt-btn-dashed">虚线按钮</button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-primary small">
        主要按钮
      </button>
        <button type="button" class="rbt-btn small">默认按钮</button>
        <button type="button" class="rbt-btn rbt-btn-dashed small">
        虚线按钮
      </button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-primary circle large">
        <i class="rbt-icon rbt-icon-ios-power"></i>
      </button>
        <button type="button" class="rbt-btn circle">
        <i class="rbt-icon rbt-icon-ios-power"></i>
      </button>
        <button type="button" class="rbt-btn circle small">
        <i class="rbt-icon rbt-icon-ios-power"></i>
      </button>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn round">
        <i class="rbt-icon rbt-icon-ios-search"></i>
        Search
      </button>
        <button type="button" class="rbt-btn rbt-btn-primary">
        <i class="rbt-icon rbt-icon-ios-search"></i>
        Search
      </button>
        <button type="button" class="rbt-btn round">
        <i class="rbt-icon rbt-icon-ios-search"></i>
        Search
      </button>
        <button type="button" class="rbt-btn rbt-btn-primary round">
        <i class="rbt-icon rbt-icon-ios-search"></i>
        Search
      </button>
        <button type="button" class="rbt-btn rbt-btn-icon-only circle">
        <i class="rbt-icon rbt-icon-ios-search"></i>
      </button>
        <button type="button" class="rbt-btn rbt-btn-primary rbt-btn-icon-only circle">
        <i class="rbt-icon rbt-icon-ios-search"></i>
      </button>
    </div>

    <div class="demo">
        <div class="rbt-btn-group" role="group">
            <button type="button" class="rbt-btn rbt-btn">取消</button>
            <button type="button" class="rbt-btn rbt-btn-primary">确认</button>
        </div>
        &nbsp; &nbsp;
        <div class="rbt-btn-group" role="group">
            <button type="button" disabled class="rbt-btn rbt-btn">昨天</button>
            <button type="button" disabled class="rbt-btn rbt-btn">今天</button>
            <button type="button" disabled class="rbt-btn rbt-btn">明天</button>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-btn-group" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">L</button>
            <button type="button" class="rbt-btn rbt-btn">M</button>
            <button type="button" class="rbt-btn rbt-btn">M</button>
            <button type="button" class="rbt-btn rbt-btn">R</button>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-btn-group" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">
          <i class="rbt-icon rbt-icon-ios-arrow-back"></i> 上一页
        </button>
            <button type="button" class="rbt-btn rbt-btn-primary">
          下一页 <i class="rbt-icon rbt-icon-ios-arrow-forward"></i>
        </button>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-btn-group large" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
        <br /><br />
        <div class="rbt-btn-group" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
        <br /><br />
        <div class="rbt-btn-group small" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-btn-group round" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">
          <i class="rbt-icon rbt-icon-ios-arrow-back"></i> 上一页
        </button>
            <button type="button" class="rbt-btn rbt-btn-primary">
          下一页 <i class="rbt-icon rbt-icon-ios-arrow-forward"></i>
        </button>
        </div>
    </div>

    <div class="demo">
        <div class="rbt-btn-group large round" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
        <br /><br />
        <div class="rbt-btn-group round" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
        <br /><br />
        <div class="rbt-btn-group small round" role="group">
            <button type="button" class="rbt-btn rbt-btn-primary">主要按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
            <button type="button" class="rbt-btn rbt-btn">默认按钮</button>
        </div>
    </div>

    <div class="demo">
        <button type="button" class="rbt-btn rbt-btn-success long">
        提交按钮
      </button>
        <br /><br />
        <button type="button" class="rbt-btn rbt-btn-danger long">
        删除按钮
      </button>
    </div>
</body>

</html>