@import "../common/index.css";
@import "../common/iconfont/icons.css";
@-webkit-keyframes rbtTransitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes rbtTransitionDropIn {
  0% {
    opacity: 0;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rbtTransitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}
@keyframes rbtTransitionDropOut {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rbtSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@keyframes rbtSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rbtSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@keyframes rbtSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rbtSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@keyframes rbtSlideDownIn {
  0% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
}
@-webkit-keyframes rbtSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@keyframes rbtSlideDownOut {
  0% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 100%;
    transform: scaleY(0.8);
  }
}
@-webkit-keyframes rbtSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
@keyframes rbtSlideLeftIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
}
@-webkit-keyframes rbtSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
}
@keyframes rbtSlideLeftOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleX(0.8);
  }
}
@-webkit-keyframes rbtSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}
@keyframes rbtSlideRightIn {
  0% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
}
@-webkit-keyframes rbtSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
}
@keyframes rbtSlideRightOut {
  0% {
    opacity: 1;
    transform-origin: 100% 0%;
    transform: scaleX(1);
  }
  100% {
    opacity: 0;
    transform-origin: 100% 0%;
    transform: scaleX(0.8);
  }
}
.rbt-alert {
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  position: relative;
  padding: 8px 15px 8px 37px;
  word-wrap: break-word;
  border-radius: 2px;
}
.rbt-alert.rbt-alert-no-icon {
  padding: 8px 15px;
}
.rbt-alert-icon {
  position: absolute;
  font-size: 16px;
  top: 4.5px;
  left: 13px;
}
.rbt-alert-info {
  background-color: #e6f7ff;
  border: 1px solid #91d5ff;
}
.rbt-alert-info .rbt-alert-icon {
  color: #1890ff;
}
.rbt-alert-success {
  background-color: #f6ffed;
  border: 1px solid #b7eb8f;
}
.rbt-alert-success .rbt-alert-icon {
  color: #05cc72;
}
.rbt-alert-warning {
  background-color: #fffbe6;
  border: 1px solid #ffe58f;
}
.rbt-alert-warning .rbt-alert-icon {
  color: #faad14;
}
.rbt-alert-error {
  background-color: #fff2f0;
  border: 1px solid #ffccc7;
}
.rbt-alert-error .rbt-alert-icon {
  color: #ff4d4f;
}
.rbt-alert-message {
  color: #2c3e50;
}
.rbt-alert-desc {
  font-size: 14px;
  line-height: 22px;
  display: none;
}
.rbt-alert.rbt-alert-closable {
  padding-right: 30px;
}
.rbt-alert-close {
  color: #ccc;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;
  font-size: 12px;
}
.rbt-alert-close .rbt-icon-ios-close {
  font-size: 22px;
  color: #ccc;
  transition: color 0.2s ease;
  position: relative;
  top: -3px;
}
.rbt-alert-close .rbt-icon-ios-close:hover {
  color: #55585e;
}
.rbt-alert-with-desc {
  position: relative;
  padding: 15px 15px 15px 63px;
  color: #55585e;
  line-height: 1.5715;
  border-radius: 2px;
}
.rbt-alert-with-desc.rbt-alert-no-icon {
  padding: 15px;
}
.rbt-alert-with-desc.rbt-alert-closable {
  padding: 15px;
}
.rbt-alert-with-desc .rbt-alert-icon {
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  margin-top: -5px;
}
.rbt-alert-with-desc .rbt-alert-icon .rbt-icon {
  font-size: 32px;
}
.rbt-alert-with-desc .rbt-alert-message {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
}
.rbt-alert-with-desc .rbt-alert-desc {
  display: block;
}
.rbt-alert-banner {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}
.rbt-alert-slide-up {
  -webkit-animation: AlertSlideUp 0.2s ease;
  animation: AlertSlideUp 0.2s ease;
}
@-webkit-keyframes AlertSlideUp {
  0% {
    opacity: 1;
  }
  100% {
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: scaleY(0.5);
  }
}
@keyframes AlertSlideUp {
  0% {
    opacity: 1;
  }
  100% {
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: scaleY(0.5);
  }
}
