@import "../common/index.css";
@import "../custom.less";
@import "../common/iconfont/icons.css";
@import "../mixins/size.less";

@prefix: @css-prefix;
@icon-prefix: @css-prefix-iconfont;

@avatar-width-lg: 40px;
@avatar-height-lg: 40px;

@avatar-width: 32px;
@avatar-height: 32px;

@avatar-width-sm: 24px;
@avatar-height-sm: 24px;

.@{prefix}avatar {
  display: @inl-flex;
  justify-content: center;
  align-items: center;
  background: @ccc;
  color: @white;
  white-space: nowrap;
  position: @rel;
  overflow: @hid;
  vertical-align: middle;
  .size(@avatar-width,@avatar-height);
  line-height: @avatar-height;
  border-radius: 50%;

  &&-icon {
    font-size: @font-size-md;
  }

  &-large {
    .size(@avatar-width-lg,@avatar-height-lg);
    line-height: @avatar-height-lg;
  }

  &-large&-icon {
    font-size: @font-size-lg;
  }

  &-small {
    .size(@avatar-width-sm,@avatar-height-sm);
    line-height: @avatar-height-sm;
  }

  &-small&-icon {
    font-size: @font-size-sm;
  }

  &-large .rbt-icon {
    position: relative;
    top: -2px;
  }

  &-square {
    border-radius: @xm-radius;
  }

  img {
    .size(100%,100%);
  }

  &-string {
    position: @abs;
    left: 50%;
    transform: @translatex-center;
    transform-origin: 0 center;
  }
}
