@import "../common/index.css";
@import "../custom.less";
@import "../common/iconfont/icons.css";
@import "../mixins/size.less";

@prefix: @css-prefix;
@icon-prefix: @css-prefix-iconfont;

.@{prefix}avatar {
  display: @inl-flex;
  justify-content: center;
  align-items: center;
  background: @ccc;
  color: @avatar-color;
  white-space: nowrap;
  position: @rel;
  overflow: @hid;
  vertical-align: middle;
  .size(@avatar-size-base,@avatar-size-base);
  line-height: @avatar-size-base;
  border-radius: 50%;

  &&-icon {
    font-size: @font-size-md;
  }

  &-large {
    .size(@avatar-size-lg,@avatar-size-lg);
    line-height: @avatar-size-lg;
  }

  &-large&-icon {
    font-size: @avatar-font-size-lg;
  }

  &-small {
    .size(@avatar-size-sm,@avatar-size-sm);
    line-height: @avatar-size-sm;
  }

  &-small&-icon {
    font-size: @avatar-font-size-sm;
  }

  &-large .rbt-icon {
    position: relative;
    top: -2px;
  }

  &-square {
    border-radius: @avatar-border-radius;
  }

  img {
    .size(100%,100%);
  }

  &-string {
    position: @abs;
    left: 50%;
    transform: @translatex-center;
    transform-origin: 0 center;
  }
}
