@import "../common/index.css";
@import "../common/iconfont/icons.css";
.rbt-back-top {
  font-size: 14px;
  line-height: 1.5715;
  position: fixed;
  right: 100px;
  bottom: 50px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.rbt-back-top-inner {
  width: 40px;
  height: 40px;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.rbt-back-top-inner:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.rbt-back-top-icon {
  font-size: 20px;
  line-height: 40px;
}
