@import '../common/index.css';
@import '../custom.less';
@import '../mixins/shadow.less';

@{tag-prefix} {
  &card {
    display: @bl;
    border-radius: @sm-radius;
    border: @border-width-base @border-style-base #ebeef5;
    background-color: @white;
    overflow: @hid;
    color: @text-color;
    transition: all 0.3s;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

    &[rab-shadow='nerve'],
    &[rab-shadow='hover'] {
      box-shadow: none;
    }

    &[rab-shadow='hover'] {
      &:hover {
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      }
    }

    &-header {
      display: @bl;
      padding: 18px 20px;
      border-bottom: 1px solid @split-color;
      box-sizing: border-box;
    }

    &-body {
      display: @bl;
      padding: 20px;
    }
  }
}
