@import '../common/index.css';
rb-card {
  display: block;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  overflow: hidden;
  color: #55585e;
  transition: all 0.3s;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
rb-card[rb-shadow='nerve'],
rb-card[rb-shadow='hover'] {
  box-shadow: none;
}
rb-card[rb-shadow='hover']:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}
rb-card-header {
  display: block;
  padding: 16px 20px;
  border-bottom: 1px solid #e8eaec;
  box-sizing: border-box;
}
rb-card-body {
  display: block;
  padding: 20px;
}
