@import '../common/index.css';
.rbt-divider {
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  border-top: 1px solid #e8eaec;
}
.rbt-divider.horizontal {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}
.rbt-divider.vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid #e8eaec;
}
.rbt-divider-dashed {
  background: 0 0;
  border-top: 1px dashed #e8eaec;
}
.rbt-divider-with-text {
  display: flex;
  margin: 16px 0;
  color: #2c3e50;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
  border-top-color: #e8eaec;
}
.rbt-divider.horizontal.rbt-divider-with-text:after,
.rbt-divider.horizontal.rbt-divider-with-text:before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(-50%);
  content: '';
}
.rbt-divider.horizontal.rbt-divider-with-text-left:after,
.rbt-divider.horizontal.rbt-divider-with-text-right:before {
  top: 50%;
  width: 95%;
}
.rbt-divider.horizontal.rbt-divider-with-text-left:before {
  top: 50%;
  width: 5%;
}
.rbt-divider.horizontal.rbt-divider-with-text-right:after {
  top: 50%;
  width: 5%;
}
.rbt-divider-inner-text {
  display: inline-block;
  padding: 0 16px;
}
.rbt-divider-plain.rbt-divider-with-text {
  color: #55585e;
  font-weight: 400;
  font-size: 14px;
}
