@import '../common/index.css';
rb-divider {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  border-top: 1px solid #e8eaec;
}
rb-divider[rb-type='vertical'] {
  width: 1px;
  min-width: 1px;
  height: 0.9em;
  display: inline-flex;
  position: relative;
  top: -0.06em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid #e8eaec;
}
rb-divider[rb-dashed] {
  background: 0 0;
  border-top: 1px dashed #dcdee2;
}
rb-divider.rbt-divider-with-text {
  display: flex;
  margin: 16px 0;
  color: #2c3e50;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-align: center;
  border-top: 0;
  border-top-color: #e8eaec;
}
rb-divider.rbt-divider-with-text:after,
rb-divider.rbt-divider-with-text:before {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  transform: translateY(50%);
  content: '';
}
rb-divider.rbt-divider-with-text-left:after,
rb-divider.rbt-divider-with-text-right:before {
  top: 50%;
  width: 95%;
}
rb-divider.rbt-divider-with-text-left:before {
  top: 50%;
  width: 5%;
}
rb-divider.rbt-divider-with-text-right:after {
  top: 50%;
  width: 5%;
}
rb-divider .rbt-divider-inner-text {
  display: inline-block;
  padding: 0 16px;
}
