@import '../common/index.css';
@import '../custom.less';

@{tag-prefix}divider {
  display: @flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: @margin-lg 0;
  color: @text-color;
  font-size: @font-size-sm;
  line-height: @base-line-height;
  border-top: @border-width-base @border-style-base @split-color;

  &[rab-type='vertical'] {
    width: 1px;
    min-width: 1px;
    height: 0.9em;
    display: @inlf;
    position: @rel;
    top: -0.06em;
    margin: 0 @margin-xs;
    vertical-align: middle;
    border-top: 0;
    border-left: @border-width-base @border-style-base @split-color;
  }

  &[rab-dashed] {
    background: 0 0;
    border-top: @border-width-base @border-style-dashed @border-color;
  }

  &.@{css-prefix}divider-with-text {
    display: @flex;
    margin: @margin-md 0;
    color: @title-color;
    font-weight: 500;
    font-size: @font-size-md;
    white-space: nowrap;
    text-align: center;
    border-top: 0;
    border-top-color: @split-color;
  }

  &.@{css-prefix}divider-with-text:after,
  &.@{css-prefix}divider-with-text:before {
    position: @rel;
    top: 50%;
    width: 50%;
    border-top: @border-width-base @border-style-base transparent;
    border-top-color: inherit;
    border-bottom: 0;
    transform: translateY(50%);
    content: '';
  }

  &.@{css-prefix}divider-with-text-left:after,
  &.@{css-prefix}divider-with-text-right:before {
    top: 50%;
    width: 95%;
  }

  &.@{css-prefix}divider-with-text-left:before {
    top: 50%;
    width: 5%;
  }

  &.@{css-prefix}divider-with-text-right:after {
    top: 50%;
    width: 5%;
  }

  .@{css-prefix}divider-inner-text {
    display: @inlb;
    padding: 0 @padding-md;
  }
}
