@import "../common/index.css";
@import "../common/iconfont/icons.css";
@-webkit-keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rbt-drawer {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  transition: transform 0.4s cubic-bezier(0.7, 0.3, 0.1, 1), height 0s ease 0.25s, width 0s ease 0.25s;
}
.rbt-drawer * {
  transition: transform 0.4s cubic-bezier(0.7, 0.3, 0.1, 1), box-shadow 0.25s cubic-bezier(0.7, 0.3, 0.1, 1);
  -webkit-tap-highlight-color: transparent;
}
.rbt-drawer-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
}
.rbt-drawer-mask {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  outline: 0;
  position: fixed;
  transition: opacity 0.25s linear, height 0s ease 0.25s;
  pointer-events: none;
  opacity: 0;
}
.rbt-drawer-open .rbt-drawer-mask {
  height: 100%;
  opacity: 1;
  transition: none;
  -webkit-animation: rbtFadeIn 0.25s ease;
  animation: rbtFadeIn 0.25s ease;
  -webkit-animation: rbtFadeOut 0.25s ease-in-out;
  animation: rbtFadeOut 0.25s ease-in-out;
  pointer-events: auto;
}
.rbt-drawer-top,
.rbt-drawer-bottom {
  left: 0;
  width: 100%;
  height: 0%;
}
.rbt-drawer-top .rbt-drawer-wrap,
.rbt-drawer-bottom .rbt-drawer-wrap {
  width: 100%;
}
.rbt-drawer-top.rbt-drawer-open,
.rbt-drawer-bottom.rbt-drawer-open {
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.rbt-drawer-top {
  top: 0;
}
.rbt-drawer-top .rbt-drawer-wrap {
  top: 0;
}
.rbt-drawer-top.rbt-drawer-open .rbt-drawer-wrap {
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}
.rbt-drawer-bottom {
  bottom: 0;
}
.rbt-drawer-bottom .rbt-drawer-wrap {
  bottom: 0;
}
.rbt-drawer-bottom.rbt-drawer-open .rbt-drawer-wrap {
  box-shadow: 0 -6px 16px -8px rgba(0, 0, 0, 0.08), 0 -9px 28px 0 rgba(0, 0, 0, 0.05), 0 -12px 48px 16px rgba(0, 0, 0, 0.03);
}
.rbt-drawer-right,
.rbt-drawer-left {
  top: 0;
  width: 0;
  height: 100%;
}
.rbt-drawer-right .rbt-drawer-wrap,
.rbt-drawer-left .rbt-drawer-wrap {
  height: 100%;
}
.rbt-drawer-right.rbt-drawer-open,
.rbt-drawer-left.rbt-drawer-open {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
}
.rbt-drawer-right {
  right: 0;
}
.rbt-drawer-right .rbt-drawer-wrap {
  right: 0;
}
.rbt-drawer-right .rbt-drawer-open .rbt-drawer-wrap {
  box-shadow: -6px 0 16px -8px rgba(0, 0, 0, 0.08), -9px 0 28px 0 rgba(0, 0, 0, 0.05), -12px 0 48px 16px rgba(0, 0, 0, 0.03);
}
.rbt-drawer-left {
  left: 0;
}
.rbt-drawer-left .rbt-drawer-wrap {
  left: 0;
}
.rbt-drawer-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  overflow: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
}
.rbt-drawer-wrap-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}
.rbt-drawer-close {
  z-index: 1;
  font-size: 14px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;
}
.rbt-drawer-close .rbt-icon-md-close {
  font-size: 20px;
  color: #ccc;
  transition: color 0.25s ease;
  position: relative;
  top: 5px;
}
.rbt-drawer-close .rbt-icon-md-close:hover {
  color: #55585e;
}
.rbt-drawer-header {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid #e8eaec;
}
.rbt-drawer-title {
  display: inline-block;
  color: #2c3e50;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rbt-drawer-body {
  height: calc(100% - 51px);
  flex-grow: 1;
  padding: 16px;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}
.rbt-drawer-footer {
  flex-shrink: 0;
  padding: 10px;
  border-top: 1px solid #e8eaec;
}
