@import "../common/index.css";
@import "../common/iconfont/icons.css";
.rbt-empty {
  margin: 0 8px;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
}
.rbt-empty-normal {
  margin: 32px 0;
  color: rgba(0, 0, 0, 0.25);
}
.rbt-empty-image {
  height: 100px;
  margin-bottom: 8px;
}
.rbt-empty-image img,
.rbt-empty-image svg {
  height: 100%;
  margin: auto;
}
.rbt-empty-normal .rbt-empty-image {
  height: 74px;
}
.rbt-empty-desc {
  margin: 0;
}
.rbt-empty-footer {
  margin-top: 16px;
}
