@import "../common/index.css";
@import "../custom.less";
@import "../common/iconfont/icons.css";
@import "../mixins/size.less";

@prefix: @css-prefix;
@icon-prefix: @css-prefix-iconfont;

input,
textarea {
  caret-color: @sub-color;
  border: @border-width-base @border-style-base @border-color;

  &:placeholder-shown {
    text-overflow: ellipsis;
  }

  &::-webkit-input-placeholder {
    color: @ccc;
    text-shadow: @none;
    -webkit-text-fill-color: initial;
  }
}

.@{prefix}input {
  position: @rel;
  display: @inlb;
  .size(100%,32px);
  padding: 4px 11px;
  color: @text-color;
  font-size: @font-size-sm;
  line-height: @base-line-height;
  background-color: @white;
  background-image: @none;
  border-radius: @xm-radius;
  transition: border-color @transtion-time @ease-in-out,
    box-shadow @transtion-time @ease-in-out;

  &:hover,
  &:focus {
    border-color: @light-primary-color;
    border-right-width: @border-width-base!important;
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px @input-shadow-color;
  }

  &.lg {
    padding: 6px 11px;
    font-size: @font-size-md;
    height: 40px;
  }

  &.sm {
    padding: 0 7px;
    font-size: @font-size-xs;
    height: 24px;
  }
}
