@import '../common/index.css';
.rbt-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  position: relative;
  color: #55585e;
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}
.rbt-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  bottom: 0;
  border-bottom: 1px solid transparent;
}
.rbt-link.underline:hover::after {
  border-bottom-color: #5cadff;
}
.rbt-link[disabled] {
  opacity: 0.4;
  cursor: not-allowed !important;
}
.rbt-link[disabled]:hover {
  opacity: 0.4;
}
.rbt-link:not([disabled]).primary:hover {
  color: #5cadff;
}
.rbt-link:not([disabled]).success:hover {
  color: #52c41a;
}
.rbt-link:not([disabled]).warning:hover {
  color: #fa8c16;
}
.rbt-link:not([disabled]).error:hover {
  color: #f5222d;
}
.rbt-link:not([disabled]).info:hover {
  color: #5cadff;
}
.rbt-link.primary {
  color: #1890ff;
}
.rbt-link.success {
  color: #05cc72;
}
.rbt-link.warning {
  color: #faad14;
}
.rbt-link.error {
  color: #ff4d4f;
}
.rbt-link.info {
  color: #40c4ff;
}
.underline.primary:hover::after {
  border-bottom-color: #5cadff;
}
.underline.success:hover::after {
  border-bottom-color: #52c41a;
}
.underline.warning:hover::after {
  border-bottom-color: #fa8c16;
}
.underline.error:hover::after {
  border-bottom-color: #f5222d;
}
.underline.info:hover::after {
  border-bottom-color: #5cadff;
}
