@import "../common/index.css";
@-webkit-keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.rbt-loading-bar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.rbt-loading-bar-inner {
  height: 100%;
  transition: width 0.2s linear;
}
.rbt-loading-bar-fade-in {
  -webkit-animation: rbtFadeIn 0.2s ease;
  animation: rbtFadeIn 0.2s ease;
}
.rbt-loading-bar-fade-out {
  -webkit-animation: rbtFadeOut 0.2s ease-in-out;
  animation: rbtFadeOut 0.2s ease-in-out;
}
