@import "../common/index.css";
@import "../common/iconfont/icons.css";
@-webkit-keyframes MessageMoveIn {
  0% {
    opacity: 0;
    padding: 8px;
    transform: translateY(-58%);
  }
  100% {
    opacity: 1;
    padding: 8px;
    transform: translateY(0);
  }
}
@keyframes MessageMoveIn {
  0% {
    opacity: 0;
    padding: 8px;
    transform: translateY(-58%);
  }
  100% {
    opacity: 1;
    padding: 8px;
    transform: translateY(0);
  }
}
@-webkit-keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
@-webkit-keyframes NoticeMoveIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes NoticeMoveIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes NoticeMoveOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    margin-bottom: 0;
  }
}
@keyframes NoticeMoveOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-15%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
    margin-bottom: 0;
  }
}
@-webkit-keyframes NoticeMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes NoticeMoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes NoticeMoveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    margin-bottom: 0;
  }
}
@keyframes NoticeMoveOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
    margin-bottom: 0;
  }
}
@-webkit-keyframes ModalMoveIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes ModalMoveIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes ani-spin-bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ani-spin-bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.rbt-message {
  font-size: 14px;
  line-height: 1.5715;
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
}
.rbt-message-notice {
  padding: 8px;
  text-align: center;
}
.rbt-message-notice-content {
  min-width: 300px;
  position: relative;
  text-align: left;
  display: inline-block;
  padding: 10px 16px;
  border: 1px solid transparent;
  color: #55585e;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: all;
}
.rbt-message-notice-custom-content {
  display: inline-block;
}
.rbt-message-notice.move-up-enter {
  -webkit-animation: MessageMoveIn 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: MessageMoveIn 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rbt-message-notice.move-up-leave {
  -webkit-animation: MessageMoveOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: MessageMoveOut 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rbt-message-info .rbt-icon {
  color: #1890ff;
}
.rbt-message-success .rbt-icon {
  color: #52c41a;
}
.rbt-message-warning .rbt-icon {
  color: #faad14;
}
.rbt-message-error .rbt-icon {
  color: #ff4d4f;
}
.rbt-message-loading-outline .rbt-icon {
  color: #1890ff;
  transform: rotate(45deg);
  -webkit-animation: ani-spin 1.3s linear infinite;
  animation: ani-spin 1.3s linear infinite;
}
.rbt-message-with-background-info {
  box-shadow: none;
  color: #1890ff;
  background-color: #f0faff;
  border-color: #ebeef5;
}
.rbt-message-with-background-info > .rbt-message-success {
  color: #52c41a;
  background-color: #f6ffed;
  border-color: #e1f3d8;
}
.rbt-message-with-background-info > .rbt-message-warning {
  color: #faad14;
  background-color: #fffbe6;
  border-color: #faecd8;
}
.rbt-message-with-background-info > .rbt-message-error {
  color: #ff4d4f;
  background-color: #fff2f0;
  border-color: #fde2e2;
}
.rbt-message-with-background-success {
  box-shadow: none;
  color: #52c41a;
  background-color: #f6ffed;
  border-color: #e1f3d8;
}
.rbt-message-with-background-warning {
  box-shadow: none;
  color: #faad14;
  background-color: #fffbe6;
  border-color: #faecd8;
}
.rbt-message-with-background-error {
  box-shadow: none;
  color: #ff4d4f;
  background-color: #fff2f0;
  border-color: #fde2e2;
}
.rbt-message .rbt-icon {
  position: relative;
  top: -1px;
  font-size: 18px;
  margin: 0 8px 0 8px;
}
.rbt-closeBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #c0c4cc !important;
  font-size: 24px;
}
.rbt-closeBtn:hover {
  color: #808695 !important;
}
