@import "../common/index.css";
@import "../common/iconfont/icons.css";
@-webkit-keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ani-bounces {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes ani-bounces {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes ani-bounces-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes ani-bounces-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.rbt-modal {
  color: #55585e;
  font-size: 14px;
  line-height: 1.5715;
  position: relative;
  top: 100px;
  width: auto;
  margin: 0 auto;
  padding: 0 0 24px;
}
.rbt-modal-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.45);
  outline: 0;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
}
.rbt-modal-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  pointer-events: none;
}
.rbt-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
}
.rbt-modal-close {
  z-index: 1;
  font-size: 12px;
  position: absolute;
  right: 8px;
  top: 8px;
  overflow: hidden;
  cursor: pointer;
}
.rbt-modal-close .rbt-icon-ios-close {
  font-size: 31px;
  color: #999;
  transition: color 0.2s ease;
  position: relative;
  top: 1px;
}
.rbt-modal-close .rbt-icon-ios-close:hover {
  color: #55585e;
}
.rbt-modal-header {
  padding: 16px 24px;
  background: #fff;
  border-bottom: 1px solid #e8eaec;
  border-radius: 2px 2px 0 0;
}
.rbt-modal-title {
  margin: 0;
  color: #2c3e50;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  word-wrap: break-word;
}
.rbt-modal-body {
  padding: 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}
.rbt-modal-footer {
  padding: 10px 24px;
  text-align: right;
  background: #fff;
  border-top: 1px solid #e8eaec;
  border-radius: 0 0 2px 2px;
}
.rbt-modal-footer button + button {
  margin-bottom: 0;
  margin-left: 8px;
}
.rbt-modal-fullscreen {
  display: none;
}
.rbt-modal-fullscreen .rbt-modal {
  width: 100% !important;
  top: 0;
  bottom: 0;
  position: absolute;
}
.rbt-modal-fullscreen .rbt-modal-content {
  width: 100%;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}
.rbt-modal-fullscreen .rbt-modal-body {
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 51px;
  bottom: 61px;
}
.rbt-modal-fullscreen .rbt-modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.rbt-modal-no-mask {
  display: none !important;
}
.rbt-modal-mask-enter-in,
.rbt-modal-enter-in {
  -webkit-animation: rbtFadeIn 0.3s ease;
  animation: rbtFadeIn 0.3s ease;
  opacity: 1;
}
.rbt-modal-mask-enter-in {
  pointer-events: auto;
}
.rbt-modal-mask-leave-out,
.rbt-modal-leave-out {
  -webkit-animation: rbtFadeOut 0.25s ease-in-out;
  animation: rbtFadeOut 0.25s ease-in-out;
}
.rbt-modal-enter-in .rbt-modal {
  -webkit-animation: ani-bounces 0.3s ease infinite;
  animation: ani-bounces 0.3s ease infinite;
}
.rbt-modal-leave-out .rbt-modal {
  -webkit-animation: ani-bounces-out 0.2s ease infinite;
  animation: ani-bounces-out 0.2s ease infinite;
}
