@import '../common/index.css';
rb-progress {
  position: relative;
  display: flex;
  width: 100%;
  height: 12px;
  overflow: hidden;
  font-size: 12px;
  background-color: #f3f3f3;
  border-radius: 20px;
}
rb-progress[rb-size='small'] {
  height: 6px;
}
rb-progress[rb-size='large'] {
  height: 18px;
}
rb-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 100%;
  color: #fff;
  font-size: 1em;
  border-radius: 20px;
  text-align: center;
  white-space: nowrap;
  background-color: #1890ff;
  transition: all 0.4s ease;
}
rb-progress[rb-status='success'] rb-progress-bar {
  background-color: #05cc72;
}
rb-progress[rb-status='warning'] rb-progress-bar {
  background-color: #faad14;
}
rb-progress[rb-status='wrong'] rb-progress-bar {
  background-color: #ff4d4f;
}
rb-progress[rb-status='info'] rb-progress-bar {
  background-color: #40c4ff;
}
rb-progress[rb-status='active'] rb-progress-bar::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  opacity: 0;
  -webkit-animation: rbt-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  animation: rbt-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1) infinite;
  content: '';
}
@-webkit-keyframes rbt-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
@keyframes rbt-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
