@import '../common/index.css';
@import '../custom.less';
@import '../mixins/size.less';

@{tag-prefix}progress {
  position: @rel;
  display: @flex;
  .size(100%,12px);
  overflow: @hid;
  font-size: @font-size-xs;
  background-color: #f3f3f3;
  border-radius: 20px;

  &[rb-size='small'] {
    height: 6px;
  }

  &[rb-size='large'] {
    height: 18px;
  }

  &-bar {
    display: @flex;
    flex-direction: column;
    justify-content: center;
    overflow: @hid;
    position: @rel;
    height: 100%;
    color: @white;
    font-size: 1em;
    border-radius: 20px;
    text-align: center;
    white-space: nowrap;
    background-color: @primary-color;
    transition: all 0.4s @ease;
  }

  &[rb-status='success'] {
    @{tag-prefix}progress-bar {
      background-color: @success-color;
    }
  }

  &[rb-status='warning'] {
    @{tag-prefix}progress-bar {
      background-color: @warning-color;
    }
  }

  &[rb-status='wrong'] {
    @{tag-prefix}progress-bar {
      background-color: @error-color;
    }
  }

  &[rb-status='info'] {
    @{tag-prefix}progress-bar {
      background-color: @info-color;
    }
  }

  &[rb-status='active'] {
    @{tag-prefix}progress-bar {
      &::before {
        position: @abs;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: @white;
        opacity: 0;
        -webkit-animation: rbt-progress-active 2.4s
          cubic-bezier(0.23, 1, 0.32, 1) infinite;
        animation: rbt-progress-active 2.4s cubic-bezier(0.23, 1, 0.32, 1)
          infinite;
        content: '';
      }
    }
  }
}

@-webkit-keyframes rbt-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes rbt-progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
