@import "../common/index.css";
@import "../common/iconfont/icons.css";
.rbt-skeleton {
  display: flex;
  width: 100%;
}
.rbt-skeleton-body {
  flex: 1;
  vertical-align: top;
}
.rbt-skeleton-title {
  width: 100%;
  height: 16px;
  margin-top: 16px;
  background: #f2f2f2;
}
.rbt-skeleton-paragraph {
  padding: 0;
}
.rbt-skeleton-paragraph li {
  width: 100%;
  height: 16px;
  background: #f2f2f2;
}
.rbt-skeleton-paragraph li:last-child:not(:first-child):not(:nth-child(2)) {
  width: 61%;
}
.rbt-skeleton-paragraph li + li {
  margin-top: 16px;
}
.rbt-skeleton-title + .rbt-skeleton-paragraph {
  margin-top: 24px;
}
.rbt-skeleton-with-avatar .rbt-skeleton-body .rbt-skeleton-title {
  margin-top: 12px;
}
.rbt-skeleton-header {
  padding-right: 16px;
  vertical-align: top;
}
.rbt-skeleton-avatar {
  display: inline-block;
  vertical-align: top;
  background: #f2f2f2;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.rbt-skeleton-avatar-circle {
  border-radius: 50%;
}
.rbt-skeleton-avatar-large {
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.rbt-skeleton-avatar-small {
  width: 24px;
  height: 24px;
  line-height: 24px;
}
.rbt-skeleton.rbt-skeleton-active .rbt-skeleton-avatar,
.rbt-skeleton.rbt-skeleton-active .rbt-skeleton-content,
.rbt-skeleton.rbt-skeleton-active .rbt-skeleton-paragraph > li,
.rbt-skeleton.rbt-skeleton-active .rbt-skeleton-title {
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: rbt-skeleton-loading 1.6s ease-in-out infinite;
  animation: rbt-skeleton-loading 1.6s ease-in-out infinite;
}
@-webkit-keyframes rbt-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes rbt-skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
