@import '../common/index.css';
@import '../custom.less';
@import '../common/iconfont/icons.css';
@import '../animation/fade.less';
@import '../animation/spin.less';
@import '../mixins/size.less';

@prefix: @css-prefix;
@icon-prefix: @css-prefix-iconfont;

@{tag-prefix}spin {
  color: @primary-color;
  vertical-align: middle;
  text-align: center;

  .@{icon-prefix} {
    font-size: @font-size-lg;
  }

  &[rb-type='dot'] {
    position: @rel;
    display: @inlb;
    background-color: @primary-color;
    border-radius: 50%;
    .size(26px,26px);
    .ani-spin-bounce();

    * {
      display: @none !important;
    }

    &[rb-size='small'] {
      .size(12px,12px);
    }

    &[rb-size='large'] {
      .size(36px,36px);
    }

    &[rb-color='success'] {
      background-color: @success-color;
    }

    &[rb-color='info'] {
      background-color: @info-color;
    }

    &[rb-color='warning'] {
      background-color: @warning-color;
    }

    &[rb-color='error'] {
      background-color: @error-color;
    }
  }

  &[rb-fix='true'] {
    position: @abs;
    top: 0;
    left: 0;
    z-index: @zindex-spin;
    .size(100%,100%);
    background-color: hsla(0, 0%, 100%, 0.9);

    .@{css-prefix}spin-main {
      display: @bl;
      position: @abs;
      top: 50%;
      left: 50%;
      transform: @translate-center;
    }
  }
}

.@{css-prefix}spin-fade-in {
  .fadeIn(0.25s);
}

.@{css-prefix}spin-fade-out {
  .fadeOut(0.25s);
}
