@import '../common/index.css';
@import '../common/iconfont/icons.css';
@-webkit-keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rbtFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rbtFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
[class*='rbt-icon-loading1'] {
  transform: rotate(45deg);
  -webkit-animation: ani-spin 1.3s linear infinite;
  animation: ani-spin 1.3s linear infinite;
}
@-webkit-keyframes ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ani-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes ani-spin-bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes ani-spin-bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.rbt-spin {
  color: #1890ff;
  vertical-align: middle;
  text-align: center;
}
.rbt-spin-show-text .rbt-spin-text {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rbt-spin-loading {
  font-size: 24px;
}
.rbt-spin-loading.small {
  font-size: 16px;
}
.rbt-spin-loading.large {
  font-size: 36px;
}
.rbt-spin-dot {
  position: relative;
  display: inline-block;
  background-color: #1890ff !important;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  -webkit-animation: ani-spin-bounce 1s 0s ease-in-out infinite;
  animation: ani-spin-bounce 1s 0s ease-in-out infinite;
}
.rbt-spin-dot.small {
  width: 12px;
  height: 12px;
}
.rbt-spin-dot.large {
  width: 36px;
  height: 36px;
}
.rbt-spin-dot.bg-primary {
  background-color: #1890ff !important;
}
.rbt-spin-dot.bg-success {
  background-color: #05cc72 !important;
}
.rbt-spin-dot.bg-info {
  background-color: #40c4ff !important;
}
.rbt-spin-dot.bg-warning {
  background-color: #faad14 !important;
}
.rbt-spin-dot.bg-error {
  background-color: #ff4d4f !important;
}
.rbt-spin-fix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.9);
}
.rbt-spin-fix .rbt-spin-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rbt-spin-fullscreen {
  z-index: 2010;
}
.rbt-spin-fullscreen-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.rbt-spin-fade-enter {
  -webkit-animation: rbtFadeIn 0.25s ease;
  animation: rbtFadeIn 0.25s ease;
}
.rbt-spin-fade-leave {
  -webkit-animation: rbtFadeOut 0.25s ease-in-out;
  animation: rbtFadeOut 0.25s ease-in-out;
}
