// 用于开发期间测试使用，在生产阶段去掉 @import
@import "../common/index.css";
@import "../custom.less";
@import "../mixins/size.less";

@prefix: @css-prefix;

.@{prefix}table {
  &-wrapper {
    position: @rel;
    overflow: @hid;

    &-with-border {
      border: @border-width-base @border-style-base @border-color;
      border-bottom: 0;
      border-right: 0;
    }
  }

  & {
    .size(inherit,100%);
    max-width: 100%;
    overflow: @hid;
    color: @table-color-base;
    font-size: @table-size-base;
    background-color: @table-bg;
    box-sizing: border-box;

    &::before {
      .size(100%,1px);
      left: 0;
      bottom: 0;
      z-index: 4;
    }

    &-border::after,
    &::before {
      content: "";
      position: @abs;
      background-color: @border-color;
    }
  }

  & {
    td,
    th {
      min-width: 0;
      height: @table-th-td-height-base;
      padding-left: 18px !important;
      padding-right: 18px !important;

      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: normal;
      word-break: break-all;
      overflow: @hid;
      border-bottom: @border-width-base @border-style-base @split-color;
    }

    th {
      height: @table-th-height-base;
      background-color: @table-thead-bg;
    }

    td {
      background-color: @table-bg;
      transition: background-color @transition-time @ease-in-out;
    }
  }

  &-header {
    overflow: @hid;

    thead {
      tr {
        th {
          position: @rel;
          height: 100%;
          padding: @table-th-padding-top-base 0;
        }
      }
    }
  }

  table {
    width: 100%;
    table-layout: @table-table-layout;
    border-radius: @table-border-radius;
    border-collapse: @table-border-collapse;
    border-spacing: @table-border-spacing;
  }

  &-row-hover {
    td {
      background-color: @table-td-hover-bg;
    }
  }

  &-column-left {
    text-align: left;
  }

  &-column-right {
    text-align: right;
  }

  &-column-center {
    text-align: center;
  }

  &-large {
    font-size: @font-size-md;
    td {
      height: 60px;
    }
  }

  &-small {
    font-size: @font-size-xs;
    thead {
      tr {
        th {
          padding: @padding-xs 0;
        }
      }
    }

    td {
      height: 40px;
    }
  }

  &-stripe {
    .@{prefix}table {
      &-body,
      &-fixed-body {
        tr:nth-child(2n) td {
          background-color: @table-thead-bg;
        }
      }
    }
  }

  &-border {
    td,
    th {
      border-right: @border-width-base @border-style-base @split-color;
    }
  }

  &-heightlight {
    td {
      background-color: @table-td-highlight-bg;
    }
  }

  &-overflow-y {
    overflow-y: auto;
  }
}
