@import "../common/index.css";
.rbt-table {
  width: inherit;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  color: #55585e;
  font-size: 14px;
  background-color: #fff;
  box-sizing: border-box;
}
.rbt-table-wrapper {
  position: relative;
  overflow: hidden;
}
.rbt-table-wrapper-with-border {
  border: 1px solid #dcdee2;
  border-bottom: 0;
  border-right: 0;
}
.rbt-table::before {
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  z-index: 4;
}
.rbt-table-border::after,
.rbt-table::before {
  content: "";
  position: absolute;
  background-color: #dcdee2;
}
.rbt-table td,
.rbt-table th {
  min-width: 0;
  height: 48px;
  padding-left: 18px !important;
  padding-right: 18px !important;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: normal;
  word-break: break-all;
  overflow: hidden;
  border-bottom: 1px solid #e8eaec;
}
.rbt-table th {
  height: 40px;
  background-color: #f8f8f9;
}
.rbt-table td {
  background-color: #fff;
  transition: background-color 0.2s ease-in-out;
}
.rbt-table-header {
  overflow: hidden;
}
.rbt-table-header thead tr th {
  position: relative;
  height: 100%;
  padding: 12px 0;
}
.rbt-table table {
  width: 100%;
  table-layout: fixed;
  border-radius: 2px 2px 0 0;
  border-collapse: separate;
  border-spacing: 0;
}
.rbt-table-row-hover td {
  background-color: #ebf7ff;
}
.rbt-table-column-left {
  text-align: left;
}
.rbt-table-column-right {
  text-align: right;
}
.rbt-table-column-center {
  text-align: center;
}
.rbt-table-large {
  font-size: 16px;
}
.rbt-table-large td {
  height: 60px;
}
.rbt-table-small {
  font-size: 12px;
}
.rbt-table-small thead tr th {
  padding: 8px 0;
}
.rbt-table-small td {
  height: 40px;
}
.rbt-table-stripe .rbt-table-body tr:nth-child(2n) td,
.rbt-table-stripe .rbt-table-fixed-body tr:nth-child(2n) td {
  background-color: #f8f8f9;
}
.rbt-table-border td,
.rbt-table-border th {
  border-right: 1px solid #e8eaec;
}
.rbt-table-heightlight td {
  background-color: #ebf7ff;
}
.rbt-table-overflow-y {
  overflow-y: auto;
}
