@import '../common/index.css';
@import '../common/iconfont/icons.css';
.rbt-tabs {
  overflow: hidden;
}
.rbt-tabs-header {
  position: relative;
  padding: 0;
  margin-bottom: 15px;
}
.rbt-tabs-nav {
  display: table;
  white-space: nowrap;
  position: relative;
  float: left;
  z-index: 2;
  transition: transform 0.5s ease-in-out;
}
.rbt-tabs-nav-wrap {
  overflow: hidden;
  margin-bottom: -1px;
  position: relative;
}
.rbt-tabs-nav-wrap::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e8eaec;
  z-index: 1;
}
.rbt-tabs-nav-scroll {
  overflow: hidden;
}
.rbt-tabs-nav-scroll-able {
  padding: 0 20px;
}
.rbt-tabs-nav-prev,
.rbt-tabs-nav-next {
  position: absolute;
  cursor: pointer;
  line-height: 42px;
  color: #808695;
}
.rbt-tabs-nav-prev i,
.rbt-tabs-nav-next i {
  font-size: 16px;
}
.rbt-tabs-nav-prev {
  left: 0;
}
.rbt-tabs-nav-next {
  right: 0;
}
.rbt-tabs-active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #1890ff;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rbt-tabs-tab {
  display: inline-block;
  position: relative;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  font-size: 14px;
  transition: color 0.2s ease-in-out;
}
.rbt-tabs-tab:not(.rbt-tabs-tab-disabled):hover {
  color: #1890ff;
}
.rbt-tabs-tab:nth-child(1) {
  padding-left: 12px;
}
.rbt-tabs-tab-active {
  color: #1890ff;
  font-weight: 500;
}
.rbt-tabs-tab-active::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 40px;
  border-bottom: 3px solid #1890ff;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
  pointer-events: none;
}
.rbt-tabs-tab-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.rbt-tabs-content {
  position: relative;
}
.rbt-tabs-content-animated {
  display: flex;
  flex-direction: row;
  will-change: transform;
  transition: transform 0.3s ease-in-out;
}
.rbt-tabs-tabpane {
  visibility: hidden;
  flex-shrink: 0;
  width: 100%;
  transition: opacity 0.3s;
  opacity: 1;
  outline: 0;
}
.rbt-tabs-tabpane-active {
  visibility: visible;
}
.rbt-tabs-card .rbt-tabs-tab:nth-child(1),
.rbt-tabs-border-card .rbt-tabs-tab:nth-child(1) {
  padding-left: 20px;
  border-left: none;
}
.rbt-tabs-card .rbt-tabs-tab:last-child,
.rbt-tabs-border-card .rbt-tabs-tab:last-child {
  padding-right: 20px;
}
.rbt-tabs-card .rbt-tabs-tab::after,
.rbt-tabs-border-card .rbt-tabs-tab::after {
  display: none;
}
.rbt-tabs-card .rbt-tabs-nav-wrap::after,
.rbt-tabs-border-card .rbt-tabs-nav-wrap::after {
  display: none;
}
.rbt-tabs-card .rbt-tabs-header {
  border-bottom: 1px solid #dcdee2;
}
.rbt-tabs-card .rbt-tabs-nav {
  border: 1px solid #dcdee2;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}
.rbt-tabs-card .rbt-tabs-tab {
  border-bottom: 1px solid #dcdee2;
  border-left: 1px solid #dcdee2;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.rbt-tabs-card .rbt-tabs-tab-active {
  background-color: #fff;
  border-bottom-color: #fff;
}
.rbt-tabs-card .rbt-tabs-tab-active .rbt-icon-ios-close {
  width: 20px;
}
.rbt-tabs-card .rbt-tabs-tab:hover .rbt-icon-ios-close {
  width: 20px;
}
.rbt-tabs-card .rbt-icon-ios-close {
  width: 0;
  position: relative;
  font-size: 20px;
  height: 14px;
  vertical-align: middle;
  line-height: 15px;
  overflow: hidden;
  top: -1px;
  right: -2px;
  transform-origin: 100% 50%;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-left: 5px;
  margin-right: -5px;
}
.rbt-tabs-border-card {
  background: #fff;
  border: 1px solid #e8eaec;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
}
.rbt-tabs-border-card > .rbt-tabs-header {
  color: #909399;
  background-color: #f5f7fa;
  border-bottom: 1px solid #e8eaec;
  margin: 0;
}
.rbt-tabs-border-card > .rbt-tabs-tab {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid transparent;
  margin-top: -1px;
  color: #808695;
}
.rbt-tabs-border-card > .rbt-tabs-tab:first-child {
  margin-left: -1px;
}
.rbt-tabs-border-card > .rbt-tabs-content {
  padding: 15px;
}
.rbt-tabs-border-card .rbt-tabs-tab-active {
  background-color: #fff;
  border-right: 1px solid #dcdee2;
  border-left: 1px solid #dcdee2;
}
.rbt-tabs-no-animation > .rbt-tabs-content {
  transform: none !important;
}
