@import '../common/index.css';
@import '../custom.less';
@import '../common/iconfont/icons.css';

@prefix: @tag-prefix;
@icon-prefix: @css-prefix-iconfont;

@{prefix}tag {
  box-sizing: border-box;
  color: @text-color;
  display: @inlf;
  align-items: center;
  height: @auto;
  margin: 0 @tag-margin-left 0 0;
  padding: 0 @tag-padding-horizontal;
  font-size: @tag-font-size;
  line-height: 20px;
  white-space: nowrap;
  background: @tag-bg;
  border: @border-width-base @border-style-base @border-color;
  border-radius: @xm-radius;
  cursor: default;
  opacity: 1;
  transition: all 0.3s;

  &:hover {
    opacity: 0.85;
  }

  a,
  a:hover {
    color: @text-color !important;
  }

  .@{icon-prefix} {
    font-size: @font-size-sm;

    &-ios-close {
      color: rgba(0, 0, 0, 0.45);
      font-size: 20px;
      cursor: @pointer;
    }
  }

  .@{icon-prefix} + span,
  span + .@{icon-prefix} {
    margin-left: 5px;
    vertical-align: middle;
  }

  &.checkable {
    background-color: transparent;
    border-color: transparent;
    cursor: @pointer;

    &:not(.checked) {
      &:hover {
        color: @primary-color;
      }
    }
  }

  &.checked {
    color: @white;
    &:active {
      color: @white;
    }
    background-color: @primary-color;
  }

  &[rab-color='primary'],
  &[rab-color='success'],
  &[rab-color='info'],
  &[rab-color='warning'],
  &[rab-color='error'] {
    color: @white;
    border-color: transparent;
    a {
      &:hover {
        color: @white;
      }
    }
  }

  &[rab-color='primary'] {
    background-color: @primary-color;
  }

  &[rab-color='success'] {
    background-color: @success-color;
  }

  &[rab-color='info'] {
    background-color: @info-color;
  }

  &[rab-color='warning'] {
    background-color: @warning-color;
  }

  &[rab-color='error'] {
    background-color: @error-color;
  }

  &[rab-color='magenta'] {
    color: @magenta;
    background: #fff0f6;
    border-color: #ffadd2;
  }

  &[rab-color='red'] {
    color: @red;
    background: #fff1f0;
    border-color: #ffa39e;
  }

  &[rab-color='volcano'] {
    color: @volcano;
    background: #fff2e8;
    border-color: #ffbb96;
  }

  &[rab-color='orange'] {
    color: @orange;
    background: #fff7e6;
    border-color: #ffd591;
  }

  &[rab-color='gold'] {
    color: @gold;
    background: #fffbe6;
    border-color: #ffe58f;
  }

  &[rab-color='lime'] {
    color: @lime;
    background: #fcffe6;
    border-color: #eaff8f;
  }

  &[rab-color='green'] {
    color: @green;
    background: #f6ffed;
    border-color: #b7eb8f;
  }

  &[rab-color='cyan'] {
    color: @cyan;
    background: #e6fffb;
    border-color: #87e8de;
  }

  &[rab-color='blue'] {
    color: @blue;
    background: #e6f7ff;
    border-color: #91d5ff;
  }

  &[rab-color='geekblue'] {
    color: @geekblue;
    background: #f0f5ff;
    border-color: #adc6ff;
  }

  &[rab-color='purple'] {
    color: @purple;
    background: #f9f0ff;
    border-color: #d3adf7;
  }
}
