@import "../common/index.css";
@import "../common/iconfont/icons.css";
.rbt-timeline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rbt-timeline-item {
  margin: 0;
  padding: 0 0 12px;
  list-style: none;
  position: relative;
}
.rbt-timeline-item:last-child .rbt-timeline-item-tail {
  display: none;
}
.rbt-timeline-item-tail {
  position: absolute;
  top: 10px;
  left: 4px;
  height: calc(100% - 10px);
  border-left: 1px solid #e8eaec;
}
.rbt-timeline-item-head {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100px;
  border: 1px solid transparent;
  position: absolute;
}
.rbt-timeline-item-head-custom {
  position: absolute;
  top: 5.5px;
  left: 5px;
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 3px 1px;
  line-height: 1;
  text-align: center;
  border: 0;
  border-radius: 0;
  transform: translate(-50%, -50%);
}
.rbt-timeline-item-head-blue {
  border-color: #2b85e4;
  color: #2b85e4;
}
.rbt-timeline-item-head-green {
  border-color: #05cc72;
  color: #05cc72;
}
.rbt-timeline-item-head-red {
  border-color: #ff4d4f;
  color: #ff4d4f;
}
.rbt-timeline-item-head-gray {
  border-color: #c5c8ce;
  color: #c5c8ce;
}
.rbt-timeline-item-content {
  padding: 1px 1px 10px 24px;
  font-size: 14px;
  position: relative;
  top: -6px;
}
.rbt-timeline.rbt-timeline-pending .rbt-timeline-item:nth-last-of-type(2) .rbt-timeline-item-content {
  min-height: 48px;
}
