<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/tabs.css" />
</head>
<style>
    .demo {
        width: 700px;
        height: 200px;
        padding: 24px;
        margin-bottom: 24px;
        margin: 10px auto;
        border: 1px solid #e8eaec;
    }
</style>

<body>
    <!-- <div class="demo">
        <div class="rbt-tabs">
            <div class="rbt-tabs-header">
                <div class="rbt-tabs-nav-wrap">
                    <div class="rbt-tabs-nav-scroll">
                        <ul class="rbt-tabs-nav">
                            <li class="rbt-tabs-tab rbt-tabs-tab-active">标签一</li>
                            <li class="rbt-tabs-tab">标签二</li>
                            <li class="rbt-tabs-tab">标签三</li>
                            <li class="rbt-tabs-tab">标签四</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rbt-tabs-content rbt-tabs-content-animated">
                <div class="rbt-tabs-tabpane rbt-tabs-tabpane-active">
                    标签一的内容
                </div>
                <div class="rbt-tabs-tabpane">标签二的内容</div>
                <div class="rbt-tabs-tabpane">标签三的内容</div>
                <div class="rbt-tabs-tabpane">标签四的内容</div>
            </div>
        </div>
    </div> -->
    <!-- 选项卡样式 -->
    <!-- <div class="demo">
        <div class="rbt-tabs rbt-tabs-card">
            <div class="rbt-tabs-header">
                <div class="rbt-tabs-nav-wrap">
                    <div class="rbt-tabs-nav-scroll">
                        <ul class="rbt-tabs-nav">
                            <li class="rbt-tabs-tab rbt-tabs-tab-active">Card Tab 1</li>
                            <li class="rbt-tabs-tab">Card Tab 2</li>
                            <li class="rbt-tabs-tab">Card Tab 3</li>
                            <li class="rbt-tabs-tab">Card Tab 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rbt-tabs-content">
                <div class="rbt-tabs-tabpane rbt-tabs-tabpane-active">网站设置</div>
                <div class="rbt-tabs-tabpane">用户管理</div>
                <div class="rbt-tabs-tabpane">权限分配</div>
                <div class="rbt-tabs-tabpane">订单管理</div>
            </div>
        </div>
    </div> -->
    <!-- 卡片化 -->
    <!-- <div class="demo">
        <div class="rbt-tabs rbt-tabs-border-card">
            <div class="rbt-tabs-header">
                <div class="rbt-tabs-nav-wrap">
                    <div class="rbt-tabs-nav-scroll">
                        <ul class="rbt-tabs-nav">
                            <li class="rbt-tabs-tab rbt-tabs-tab-active">网站设置</li>
                            <li class="rbt-tabs-tab">用户管理</li>
                            <li class="rbt-tabs-tab">权限分配</li>
                            <li class="rbt-tabs-tab">订单管理</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rbt-tabs-content">
                <div class="rbt-tabs-tabpane rbt-tabs-tabpane-active">网站设置</div>
                <div class="rbt-tabs-tabpane">用户管理</div>
                <div class="rbt-tabs-tabpane">权限分配</div>
                <div class="rbt-tabs-tabpane">订单管理</div>
            </div>
        </div>
    </div> -->
    <!-- 可关闭 -->
    <!-- <div class="demo">
        <div class="rbt-tabs rbt-tabs-card">
            <div class="rbt-tabs-header">
                <div class="rbt-tabs-nav-wrap">
                    <div class="rbt-tabs-nav-scroll">
                        <ul class="rbt-tabs-nav">
                            <li class="rbt-tabs-tab rbt-tabs-tab-active">
                                Tab 1 <i class="rbt-icon rbt-icon-ios-close"></i>
                            </li>
                            <li class="rbt-tabs-tab">
                                Tab 2 <i class="rbt-icon rbt-icon-ios-close"></i>
                            </li>
                            <li class="rbt-tabs-tab">
                                Tab 3 <i class="rbt-icon rbt-icon-ios-close"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rbt-tabs-content">
                <div class="rbt-tabs-tabpane rbt-tabs-tabpane-active">
                    Tab 1 content
                </div>
                <div class="rbt-tabs-tabpane">Tab 2 content</div>
                <div class="rbt-tabs-tabpane">Tab 3 content</div>
            </div>
        </div>
    </div> -->
    <!-- 溢出滚动 -->
    <!-- <div class="demo">
        <div class="rbt-tabs">
            <div class="rbt-tabs-header">
                <div class="rbt-tabs-nav-wrap rbt-tabs-nav-scroll-able">
                    <span class="rbt-tabs-nav-prev">
              <i class="rbt-icon rbt-icon-ios-arrow-back"></i>
            </span>
                    <span class="rbt-tabs-nav-next">
              <i class="rbt-icon rbt-icon-ios-arrow-forward"></i>
            </span>
                    <div class="rbt-tabs-nav-scroll">
                        <ul class="rbt-tabs-nav">
                            <div class="rbt-tabs-active-bar" style="width: 74px; transform: translateX(0)"></div>
                            <li class="rbt-tabs-tab rbt-tabs-tab-active">标签一</li>
                            <li class="rbt-tabs-tab">标签二</li>
                            <li class="rbt-tabs-tab">标签三</li>
                            <li class="rbt-tabs-tab">标签四</li>
                            <li class="rbt-tabs-tab">标签五</li>
                            <li class="rbt-tabs-tab">标签六</li>
                            <li class="rbt-tabs-tab">标签七</li>
                            <li class="rbt-tabs-tab">标签八</li>
                            <li class="rbt-tabs-tab">标签九</li>
                            <li class="rbt-tabs-tab">标签十</li>
                            <li class="rbt-tabs-tab">标签十一</li>
                            <li class="rbt-tabs-tab">标签十二</li>
                            <li class="rbt-tabs-tab">标签十三</li>
                            <li class="rbt-tabs-tab">标签十四</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="rbt-tabs-content">
                <div class="rbt-tabs-tabpane rbt-tabs-tabpane-active">
                    标签一的内容
                </div>
                <div class="rbt-tabs-tabpane">标签二的内容</div>
                <div class="rbt-tabs-tabpane">标签三的内容</div>
                <div class="rbt-tabs-tabpane">标签四的内容</div>
            </div>
        </div>
    </div> -->
    <div class="demo">
        <rb-tabs id="tabs1">
            <div slot="tabPane">标签1的内容</div>
            <div slot="tabPane">标签2的内容</div>
            <div slot="tabPane">标签3的内容</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs2">
            <div slot="tabPane">标签1的内容</div>
            <div slot="tabPane">标签2的内容</div>
            <div slot="tabPane">标签3的内容</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs3">
            <div slot="tabPane">网站设置</div>
            <div slot="tabPane">用户管理</div>
            <div slot="tabPane">权限分配</div>
            <div slot="tabPane">订单管理</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs4">
            <div slot="tabPane">用户管理</div>
            <div slot="tabPane">配置管理</div>
            <div slot="tabPane">角色管理</div>
            <div slot="tabPane">定时任务补偿</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs5">
            <div slot="tabPane">标签一的内容</div>
            <div slot="tabPane">标签二的内容</div>
            <div slot="tabPane">标签三的内容</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs6">
            <div slot="tabPane">标签一的内容</div>
            <div slot="tabPane">标签二的内容</div>
            <div slot="tabPane">标签三的内容</div>
        </rb-tabs>
    </div>
    <div class="demo">
        <rb-tabs id="tabs7">
            <div slot="tabPane">Google</div>
            <div slot="tabPane">Python</div>
            <div slot="tabPane">Angular</div>
        </rb-tabs>
    </div>
    <div class="demo" style="width: 400px">
        <rb-tabs id="tabs8">
            <div slot="tabPane">标签1的内容</div>
            <div slot="tabPane">标签2的内容</div>
            <div slot="tabPane">标签3的内容</div>
            <div slot="tabPane">标签4的内容</div>
            <div slot="tabPane">标签5的内容</div>
            <div slot="tabPane">标签6的内容</div>
            <div slot="tabPane">标签7的内容</div>
            <div slot="tabPane">标签8的内容</div>
        </rb-tabs>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../common/main.js"></script>
<script src="../../common/expand.js"></script>
<script src="./tabs.js"></script>
<script>
    RabbitUI.create('#tabs1', {
        label: [{
            text: '标签1',
            active: true,
        }, {
            text: '标签2',
        }, {
            text: '标签3',
        }, ],
        onClick(index, tabPane) {
            console.log(`当前点击项：`, index, tabPane);
        },
    });
    RabbitUI.create('#tabs2', {
        label: [{
            text: '标签1',
            active: true,
        }, {
            text: '标签2',
            disabled: true,
        }, {
            text: '标签3',
        }, ],
    });
    RabbitUI.create('#tabs3', {
        label: [{
            text: '用户管理',
            active: true,
        }, {
            text: '配置管理',
        }, {
            text: '角色管理',
        }, {
            text: '订单管理',
        }, ],
        type: 'card',
    });
    RabbitUI.create('#tabs4', {
        label: [{
            text: '用户管理',
            active: true,
        }, {
            text: '配置管理',
        }, {
            text: '角色管理',
        }, {
            text: '定时任务补偿',
        }, ],
        type: 'border-card',
    });
    RabbitUI.create('#tabs5', {
        label: [{
            text: '标签1',
            active: true,
        }, {
            text: '标签2',
        }, {
            text: '标签3',
        }, ],
        type: 'card',
        closable: true,
        onTabRemove(index) {
            console.log(`当前删除的索引：${index}`);
        },
    });
    RabbitUI.create('#tabs6', {
        label: [{
            text: '标签1',
            active: true,
        }, {
            text: '标签2',
        }, {
            text: '标签3',
        }, ],
        animated: false,
    });
    RabbitUI.create('#tabs7', {
        label: [{
            text: '<i class="rbt-icon rbt-icon-logo-google"> Google',
            active: true,
        }, {
            text: '<i class="rbt-icon rbt-icon-logo-python"> Python',
        }, {
            text: '<i class="rbt-icon rbt-icon-logo-angular"> Angular',
        }, ],
    });
    RabbitUI.create('#tabs8', {
        label: [{
            text: '标签1',
            active: true,
        }, {
            text: '标签2',
        }, {
            text: '标签3',
        }, {
            text: '标签4',
        }, {
            text: '标签5',
        }, {
            text: '标签6',
        }, {
            text: '标签7',
        }, {
            text: '标签8',
        }, ],
        type: 'card',
    });
</script>

</html>