<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/input.css" />
</head>
<style>
    .demo {
        width: 430px;
        margin: 10px auto;
    }
</style>

<body>
    <div class="demo">
        <input placeholder="Basic usage" type="text" class="rbt-input" />
    </div>
    <div class="demo">
        <strong>尺寸</strong>
        <br /><br />
        <input placeholder="large size" type="text" class="rbt-input lg" />
        <br /><br />
        <input placeholder="default size" type="text" class="rbt-input" />
        <br /><br />
        <input placeholder="small size" type="text" class="rbt-input sm" />
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../core/main.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./input.js"></script>
<script></script>

</html>