<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/empty.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 966px;
        margin: 10px auto;
        padding: 46px 24px 50px;
        border: 1px solid #f0f0f0;
    }
</style>

<body>
    <!-- <div class="rbt-empty">
            <div class="rbt-empty-image"></div>
            <div class="rbt-empty-desc"></div>
            <div class="rbt-empty-footer"></div>
        </div> -->
    <div class="demo">
        <rb-empty id="empty1"></rb-empty>
    </div>

    <div class="demo">
        <rb-empty id="empty2"></rb-empty>
    </div>

    <div class="demo">
        <rb-empty id="empty3"></rb-empty>
    </div>

    <div class="demo">
        <rb-empty id="empty4"></rb-empty>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/objtoString.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="./empty.js"></script>
<script>
    RabbitUI.create('#empty1', {
        desc: '暂无数据',
    });

    RabbitUI.create('#empty2', {
        image: 'IMAGE_SIMPLE',
        desc: '暂无数据',
    });

    RabbitUI.create('#empty3', {
        desc: `Customize <a href="#">Description</a>`,
        image: 'https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg',
        footer: `<button class="rbt-btn rbt-btn-primary">立即创建</button>`,
        imageStyle: {
            height: '60px',
        },
    });

    RabbitUI.create('#empty4');
</script>

</html>