<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/progress.css" />
</head>
<style>
    .demo {
        width: 30%;
        margin: 10px auto;
    }
    
    .demo rb-progress {
        margin-bottom: 12px;
    }
    
    .demo strong {
        display: block;
        margin-bottom: 10px;
    }
</style>

<body>
    <div class="demo">
        <strong>标准的进度条</strong>

        <rb-progress>
            <rb-progress-bar style="width: 25%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-status="active">
            <rb-progress-bar style="width: 35%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-status="success">
            <rb-progress-bar style="width: 45%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-status="warning">
            <rb-progress-bar style="width: 65%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-status="wrong">
            <rb-progress-bar style="width: 100%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-status="info">
            <rb-progress-bar style="width: 40%"></rb-progress-bar>
        </rb-progress>
    </div>
    <div class="demo">
        <strong>百分比内显</strong>

        <rb-progress rb-size="large">
            <rb-progress-bar style="width: 50%">50%</rb-progress-bar>
        </rb-progress>
    </div>
    <div class="demo">
        <strong>小尺寸进度条</strong>

        <rb-progress rb-size="small">
            <rb-progress-bar style="width: 25%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="small" rb-status="active">
            <rb-progress-bar style="width: 45%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="small" rb-status="wrong">
            <rb-progress-bar style="width: 65%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="small" rb-status="success">
            <rb-progress-bar style="width: 100%"></rb-progress-bar>
        </rb-progress>
    </div>
    <div class="demo">
        <strong>大尺寸进度条</strong>

        <rb-progress rb-size="large">
            <rb-progress-bar style="width: 25%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="large" rb-status="active">
            <rb-progress-bar style="width: 45%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="large" rb-status="wrong">
            <rb-progress-bar style="width: 65%"></rb-progress-bar>
        </rb-progress>

        <rb-progress rb-size="large" rb-status="success">
            <rb-progress-bar style="width: 100%"></rb-progress-bar>
        </rb-progress>
    </div>
    <div class="demo">
        <strong>自定义高度</strong>

        <rb-progress style="height: 2px">
            <rb-progress-bar style="width: 25%"></rb-progress-bar>
        </rb-progress>

        <rb-progress style="height: 18px">
            <rb-progress-bar style="width: 35%"></rb-progress-bar>
        </rb-progress>
    </div>
    <div class="demo">
        <strong>渐变色</strong>

        <rb-progress>
            <rb-progress-bar style="
            width: 90%;
            background-image: linear-gradient(
              to right,
              rgb(16, 142, 233) 0%,
              rgb(135, 208, 104) 100%
            );
          ">90%</rb-progress-bar>
        </rb-progress>
    </div>
</body>

</html>