<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/skeleton.css" />
    <link rel="stylesheet" href="../../style/components/switch.css" />
</head>
<style>
    .demo {
        width: 65%;
        padding: 42px 24px 50px;
        border-bottom: 1px solid #f0f0f0;
        margin: 0 auto;
    }
</style>

<body>
    <!-- <div class="rbt-skeleton">
            <div class="rbt-skeleton-body">
                <h3 class="rbt-skeleton-title"></h3>
                <ul class="rbt-skeleton-paragraph">
                    <li></li>
                    <li></li>
                    <li style="width: 61%"></li>
                </ul>
            </div>
        </div> -->
    <section class="demo">
        <rb-skeleton id="skeleton1"></rb-skeleton>
    </section>

    <section class="demo">
        <rb-skeleton id="skeleton2"></rb-skeleton>
    </section>

    <section class="demo">
        <rb-skeleton id="skeleton3"></rb-skeleton>
    </section>

    <section class="demo">
        <rb-switch id="switch1"></rb-switch>
        <br /><br />
        <div class="loading">
            <rb-skeleton id="skeleton4"></rb-skeleton>
            <br /><br />
            <rb-skeleton id="skeleton5"></rb-skeleton>
            <br /><br />
            <rb-skeleton id="skeleton6"></rb-skeleton>
        </div>
        <div class="main-content" style="display: none">
            <ul>
                <li>
                    这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                </li>
                <li>
                    这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                </li>
                <li>
                    这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容
                </li>
            </ul>
        </div>
    </section>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../core/getComps.js"></script>
<script src="../../core/getCompsSlot.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../core/main.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./skeleton.js"></script>
<script src="../switch/switch.js"></script>
<script>
    RabbitUI.create('#skeleton1', {
        rows: 1,
    });
    RabbitUI.create('#skeleton2', {
        avatar: true,
        rows: 4,
    });
    RabbitUI.create('#skeleton3', {
        active: true,
    });
    RabbitUI.create('#skeleton4', {
        active: true,
        avatar: true,
        rows: 2,
    });
    RabbitUI.create('#skeleton5', {
        active: true,
        avatar: true,
        rows: 2,
    });
    RabbitUI.create('#skeleton6', {
        active: true,
        avatar: true,
        rows: 2,
    });
    RabbitUI.create('#switch1', {
        onChange: status => {
            if (status) {
                document.querySelector('.loading').style.display = 'none';
                document.querySelector('.main-content').style.display = 'block';
            } else {
                document.querySelector('.loading').style.display = 'block';
                document.querySelector('.main-content').style.display = 'none';
            }
        },
    });
</script>

</html>