<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/card.css" />
</head>
<style>
    body {
        height: 1500px;
    }
    
    .demo {
        width: 800px;
        margin: 50px auto;
    }
    
    .demo rb-card {
        width: 480px;
    }
    
    .text {
        margin-bottom: 18px;
    }
    
    .bottom {
        margin: 12px 0;
        line-height: 12px;
        color: #999;
    }
    
    .image {
        width: 100%;
        display: block;
    }
</style>

<body>
    <div class="demo">
        <rb-card>
            <rb-card-header>
                卡片标题<a style="float: right; padding: 3px 0">操作按钮</a>
            </rb-card-header>
            <rb-card-body>
                <p class="text">卡片的内容</p>
                <p class="text">卡片的内容</p>
                <p class="text">卡片的内容</p>
            </rb-card-body>
        </rb-card>
    </div>

    <div class="demo">
        <rb-card>
            <rb-card-body>
                <p class="text">卡片的内容</p>
                <p class="text">卡片的内容</p>
                <p class="text">卡片的内容</p>
            </rb-card-body>
        </rb-card>
    </div>

    <div class="demo">
        <div style="float: left; margin-right: 6%">
            <rb-card style="width: 270px">
                <rb-card-body style="padding: 0">
                    <img src="../../../assets/card.jpg" class="image" />
                    <div style="padding: 14px; text-align: center">
                        <h4>那些年那些事那些兔</h4>
                        <div class="bottom">www.bilibili.com</div>
                    </div>
                </rb-card-body>
            </rb-card>
        </div>

        <rb-card style="width: 270px">
            <rb-card-body style="padding: 0">
                <img src="../../../assets/card.jpg " class="image" />
                <div style="padding: 14px; text-align: center">
                    <h4>那些年那些事那些兔</h4>
                    <div class="bottom">www.bilibili.com</div>
                </div>
            </rb-card-body>
        </rb-card>
    </div>

    <div class="demo">
        <rb-card style="width: 30%; margin-right: 6px; float: left">
            <rb-card-body>总是显示</rb-card-body>
        </rb-card>
        <rb-card style="width: 30%; margin-left: 6px; margin-right: 6px; float: left" rb-shadow="hover">
            <rb-card-body>鼠标悬浮时显示</rb-card-body>
        </rb-card>
        <rb-card style="width: 30%; margin-left: 6px; float: left" rb-shadow="nerve">
            <rb-card-body>从不显示</rb-card-body>
        </rb-card>
    </div>
</body>

</html>