<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/divider.css" />
</head>
<style>
    .demo {
        width: 40%;
        padding: 42px 24px 50px;
        color: rgba(0, 0, 0, 0.85);
        margin: 20px auto;
        border-bottom: 1px solid #f0f0f0;
    }
</style>

<body>
    <section class="demo">
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal"></div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal rbt-divider-dashed"></div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal"></div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
    </section>
    <section class="demo">
        Text
        <div class="rbt-divider vertical"></div>
        <a>Link</a>
        <div class="rbt-divider vertical"></div>
        <a>Link</a>
    </section>
    <section class="demo">
        <div class="rbt-divider horizontal rbt-divider-with-text rbt-divider-with-text-left">
            <span class="rbt-divider-inner-text">Right Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal rbt-divider-with-text">
            <span class="rbt-divider-inner-text">Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal rbt-divider-with-text rbt-divider-with-text-right">
            <span class="rbt-divider-inner-text">Left Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
    </section>
    <section class="demo">
        <div class="rbt-divider horizontal rbt-divider-with-text rbt-divider-with-text-right rbt-divider-plain">
            <span class="rbt-divider-inner-text">Right Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal rbt-divider-with-text rbt-divider-plain">
            <span class="rbt-divider-inner-text">Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <div class="rbt-divider horizontal rbt-divider-with-text rbt-divider-with-text-left rbt-divider-plain">
            <span class="rbt-divider-inner-text">Left Text</span>
        </div>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
    </section>
</body>
<script></script>

</html>