<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/divider.css" />
</head>
<style>
    .demo {
        width: 40%;
        padding: 42px 24px 50px;
        color: rgba(0, 0, 0, 0.85);
        margin: 20px auto;
        border-bottom: 1px solid #f0f0f0;
    }
</style>

<body>
    <section class="demo">
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal" role="separator"></div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-dashed" role="separator"></div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal" role="separator"></div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
    </section>
    <section class="demo">
        Text
        <div class="rbt-divider rbt-divider-vertical" role="separator"></div>
        <a href="#">Link</a>
        <div class="rbt-divider rbt-divider-vertical" role="separator"></div>
        <a href="#">Link</a>
    </section>
    <section class="demo">
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text rbt-divider-with-text-left" role="separator">
            <span class="rbt-divider-inner-text">Right Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text" role="separator">
            <span class="rbt-divider-inner-text">Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text rbt-divider-with-text-right" role="separator">
            <span class="rbt-divider-inner-text">Left Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
    </section>
    <section class="demo">
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text rbt-divider-with-text-right rbt-divider-plain" role="separator">
            <span class="rbt-divider-inner-text">Right Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text rbt-divider-plain" role="separator">
            <span class="rbt-divider-inner-text">Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
        <div class="rbt-divider rbt-divider-horizontal rbt-divider-with-text rbt-divider-with-text-left rbt-divider-plain" role="separator">
            <span class="rbt-divider-inner-text">Left Text</span>
        </div>
        <p>
            史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        </p>
    </section>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./index.js"></script>
<script></script>

</html>