<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/divider.css" />
</head>
<style>
    .demo {
        width: 40%;
        padding: 42px 24px 50px;
        color: rgba(0, 0, 0, 0.85);
        margin: 20px auto;
        border-bottom: 1px solid #f0f0f0;
    }
</style>

<body>
    <div class="demo">
        青春是一个短暂的美梦, 当你醒来时, 它早已消失无踪。
        <rab-divider></rab-divider>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <rab-divider rab-dashed></rab-divider>
        少量的邪恶足以抵消全部高贵的品质, 害得人声名狼藉。
        <rab-divider></rab-divider>
        杜甫的思想核心是儒家的仁政思想，他有“致君尧舜上，再使风俗淳”的宏伟抱负。
    </div>
    <div class="demo">
        文本
        <rab-divider rab-type="vertical"></rab-divider>
        <a>链接</a>
        <rab-divider rab-type="vertical"></rab-divider>
        <a>链接</a>
    </div>
    <div class="demo">
        <rab-divider rab-orientation="left">Left Text</rab-divider>
        史蒂芬·保罗·乔布斯是美国企业家和商业巨头。他是苹果公司的董事长、首席执行官和联合创始人。
        <rab-divider>Text</rab-divider>
        鲁迅一生在文学创作、文学批评、思想研究、文学史研究、翻译、美术理论引进、基础科学介绍和古籍校勘与研究等多个领域具有重大贡献。
        <rab-divider rab-orientation="right">Right Text</rab-divider>
        李清照出生于书香门第，早期生活优裕，其父李格非藏书甚富，她小时候就在良好的家庭环境中打下文学基础。
    </div>
</body>
<script src="../../common/main.js"></script>
<script src="./divider.js"></script>

</html>