<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/modal.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    body {
        height: 1000px;
    }
</style>

<body>
    <!-- <div class="rbt-modal-root">
        <div class="rbt-modal-mask rbt-modal-mask-enter-in"></div>
        <div class="rbt-modal-wrap rbt-modal-enter-in">
            <div class="rbt-modal" style="width: 520px">
                <div class="rbt-modal-content">
                    <a class="rbt-modal-close">
                        <i class="rbt-icon rbt-icon-ios-close"></i>
                    </a>
                    <div class="rbt-modal-header">
                        <div class="rbt-modal-title">标题</div>
                    </div>
                    <div class="rbt-modal-body">
                        <p>Modal对话框内容</p>
                    </div>
                    <div class="rbt-modal-footer">
                        <button>取消</button>
                        <button>确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <button onclick="a()" class="rbt-btn">显示</button>
    <button onclick="b()" class="rbt-btn">异步</button>

    <rb-modal id="m1">
        <div slot="header">基本对话框</div>
        <div slot="content">
            <p>对话框内容...</p>
            <p>对话框内容...</p>
            <p>对话框内容...</p>
        </div>
    </rb-modal>

    <rb-modal id="m2">
        <div slot="header">对话框标题</div>
        <p slot="content">点击确定后，对话框将在 2秒 后关闭。</p>
    </rb-modal>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/destory.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../mixins/bindClickEv.js"></script>
<script src="../../mixins/scrollable.js"></script>
<script src="../../utils/objtoString.js"></script>
<script src="../../utils/css-transition.js"></script>
<script src="./modal.js"></script>
<script>
    RabbitUI.create('#m1');
    RabbitUI.create('#m2', {
        loading: true,
        onOk: () => {
            setTimeout(() => RabbitUI.Modal.hide('#m2'), 2000);
        },
    });

    a = () => {
        RabbitUI.Modal.show('#m1');
    };
    b = () => {
        RabbitUI.Modal.show('#m2');
    };
</script>

</html>