<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/steps.css" />
</head>
<style>
    .demo {
        width: 1000px;
        margin: 50px auto;
    }
</style>

<body>
    <div class="demo">
        <rb-steps id="steps1">
            <div slot="step">
                <span slot="title">已完成</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">进行中</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
        </rb-steps>
    </div>
    <div class="demo">
        <rb-steps id="steps2">
            <div slot="step">
                <span slot="title">已完成</span>
            </div>
            <div slot="step">
                <span slot="title">已完成</span>
            </div>
            <div slot="step">
                <span slot="title">进行中</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
            </div>
        </rb-steps>
    </div>
    <div class="demo">
        <rb-steps id="steps3">
            <div slot="step">
                <i class="rbt-icon rbt-icon-ios-person-add" slot="icon"></i>
                <span slot="title">注册</span>
            </div>
            <div slot="step">
                <i class="rbt-icon rbt-icon-ios-camera" slot="icon"></i>
                <span slot="title">上传头像</span>
            </div>
            <div slot="step">
                <i class="rbt-icon rbt-icon-ios-mail" slot="icon"></i>
                <span slot="title">验证邮箱</span>
            </div>
        </rb-steps>
    </div>
    <div class="demo">
        <rb-steps id="steps4">
            <div slot="step">
                <span slot="title">已完成</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">进行中</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
        </rb-steps>
    </div>
    <div class="demo">
        <rb-steps id="steps5">
            <div slot="step">
                <span slot="title">已完成</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">进行中</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
            <div slot="step">
                <span slot="title">待进行</span>
                <span slot="content">这里是该步骤的描述信息</span>
            </div>
        </rb-steps>
    </div>
    <div class="demo">
        <!-- <div class="rbt-steps rbt-steps-horizontal">
            <div class="rbt-steps-item rbt-steps-status-finish">
                <div class="rbt-steps-tail"><i></i></div>
                <div class="rbt-steps-head">
                    <div class="rbt-steps-head-inner">
                        <span class="rbt-steps-icon rbt-icon rbt-icon-ios-checkmark"></span>
                    </div>
                </div>
                <div class="rbt-steps-main">
                    <div class="rbt-steps-title">已完成</div>
                    <div class="rbt-steps-content">这里是该步骤的描述信息</div>
                </div>
            </div>
            <div class="rbt-steps-item rbt-steps-status-process">
                <div class="rbt-steps-tail"><i></i></div>
                <div class="rbt-steps-head">
                    <div class="rbt-steps-head-inner">
                        <span>2</span>
                    </div>
                </div>
                <div class="rbt-steps-main">
                    <div class="rbt-steps-title">进行中</div>
                    <div class="rbt-steps-content">这里是该步骤的描述信息</div>
                </div>
            </div>
            <div class="rbt-steps-item rbt-steps-status-wait">
                <div class="rbt-steps-tail"><i></i></div>
                <div class="rbt-steps-head">
                    <div class="rbt-steps-head-inner">
                        <span>3</span>
                    </div>
                </div>
                <div class="rbt-steps-main">
                    <div class="rbt-steps-title">待进行</div>
                    <div class="rbt-steps-content">这里是该步骤的描述信息</div>
                </div>
            </div>
            <div class="rbt-steps-item rbt-steps-status-error">
                <div class="rbt-steps-tail"><i></i></div>
                <div class="rbt-steps-head">
                    <div class="rbt-steps-head-inner">
                        <span class="rbt-steps-icon rbt-icon rbt-icon-ios-close"></span>
                    </div>
                </div>
                <div class="rbt-steps-main">
                    <div class="rbt-steps-title">待进行</div>
                    <div class="rbt-steps-content">这里是该步骤的描述信息</div>
                </div>
            </div>
        </div> -->
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./steps.js"></script>
<script>
    RabbitUI.create('#steps1', {
        current: 1,
    });
    RabbitUI.create('#steps2', {
        current: 2,
        size: 'small',
    });
    RabbitUI.create('#steps3', {
        current: 1,
    });
    RabbitUI.create('#steps4', {
        current: 2,
        direction: 'vertical',
    });
    RabbitUI.create('#steps5', {
        current: 1,
        status: 'error',
    });
</script>

</html>