<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/select.css" />
</head>
<style>
    .demo {
        width: 450px;
        margin: 10px auto;
    }
</style>

<body>
    <div class="demo">
        <div class="rbt-select rbt-select-visible rbt-select-single" style="width: 200px">
            <div class="rbt-select-selection">
                <span class="rbt-select-placeholder">请选择</span>
                <i class="rbt-icon rbt-icon-ios-arrow-down rbt-select-arrow"></i>
            </div>
            <div class="rbt-select-dropdown rbt-select-drop-enter">
                <ul class="rbt-select-dropdown-list">
                    <li class="rbt-select-item">纽约</li>
                    <li class="rbt-select-item rbt-select-item-selected rbt-select-item-focus">
                        伦敦
                    </li>
                    <li class="rbt-select-item rbt-select-item-disabled">圣迪戈亚</li>
                    <li class="rbt-select-item">巴黎</li>
                    <li class="rbt-select-item">悉尼</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/clickAction.js"></script>
<script src="../../utils/css-transition.js"></script>
<script src="../../plugins/popper.js"></script>
<script src="./select.js"></script>
<script></script>

</html>