<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/time.css" />
</head>
<style>
    .demo {
        width: 200px;
        margin: 10px auto;
    }
</style>

<body>
    <div class="demo">
        <rab-time id="t1"></rab-time> <br />
        <rab-time id="t2"></rab-time>
    </div>
    <div class="demo">
        <rab-time id="t3"></rab-time>
    </div>
    <div class="demo">
        <rab-time id="t4"></rab-time><br />
        <rab-time id="t5"></rab-time><br />
        <rab-time id="t6"></rab-time>
    </div>
    <div class="demo">
        <rab-time id="t7"></rab-time><br />
        <rab-time id="t8"></rab-time>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/formate-date.js"></script>
<script src="./relativeTime.js"></script>
<script src="./time.js"></script>
<script>
    const time1 = new Date().getTime() - 60 * 3 * 1000;
    const time2 = new Date().getTime() - 86400 * 3 * 1000;
    RabbitUI.create("#t1", {
        time: time1,
    });
    RabbitUI.create("#t2", {
        time: time2,
    });
    RabbitUI.create("#t3", {
        time: new Date(),
        interval: 1,
    });
    RabbitUI.create("#t4", {
        time: time2,
    });
    RabbitUI.create("#t5", {
        time: time2,
        type: "date",
    });
    RabbitUI.create("#t6", {
        time: time2,
        type: "datetime",
    });
    RabbitUI.create("#t7", {
        time: time2,
        hash: "#hash",
    });
    RabbitUI.create("#t8", {
        time: time2,
        link: "https://github.com/niu-grandpa/RabbitUI",
    });
</script>

</html>