<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/loading-bar.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>

<body>
    <!-- <div class="rbt-loading-bar" style="height: 2px">
        <div class="rbt-loading-bar-inner rbt-loading-bar-inner-primary"></div>
    </div> -->
    <br /><br />
    <button class="rbt-btn" onclick="RabbitUI.LoadingBar.start()">Start</button>
    <button class="rbt-btn" onclick="RabbitUI.LoadingBar.finish()">
      Finish
    </button>
    <button class="rbt-btn" onclick="RabbitUI.LoadingBar.error()">Error</button>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/init.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/css-transition.js"></script>
<script src="./loading-bar.js"></script>
<script>
    RabbitUI.init(["LoadingBar"]);

    // RabbitUI.LoadingBar.config({});
</script>

</html>