<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/timeline.css" />
</head>
<style>
    .demo {
        width: 430px;
        margin: 20px auto;
    }
</style>

<body>
    <div class="demo">
        <!-- <ul class="rbt-timeline">
            <li class="rbt-timeline-item">
                <div class="rbt-timeline-item-tail"></div>
                <div class="rbt-timeline-item-head rbt-timeline-item-head-blue"></div>
                <div class="rbt-timeline-item-content">
                    Create a services site 2015-09-01
                </div>
            </li>
            <li class="rbt-timeline-item">
                <div class="rbt-timeline-item-tail"></div>
                <div class="rbt-timeline-item-head rbt-timeline-item-head-blue"></div>
                <div class="rbt-timeline-item-content">
                    Create a services site 2015-09-01
                </div>
            </li>
            <li class="rbt-timeline-item">
                <div class="rbt-timeline-item-tail"></div>
                <div class="rbt-timeline-item-head rbt-timeline-item-head-blue"></div>
                <div class="rbt-timeline-item-content">
                    Create a services site 2015-09-01
                </div>
            </li>
            <li class="rbt-timeline-item">
                <div class="rbt-timeline-item-tail"></div>
                <div class="rbt-timeline-item-head rbt-timeline-item-head-blue"></div>
                <div class="rbt-timeline-item-content">
                    Create a services site 2015-09-01
                </div>
            </li>
        </ul> -->
        <div data-component="timeline" id="t1">
            <span slot="timelineItem">2015年创建服务网站 </span>
            <span slot="timelineItem">2016年解决初始网络问题</span>
            <span slot="timelineItem">2017年技术测试</span>
            <span slot="timelineItem">2018正在解决的网络问题</span>
        </div>
    </div>
    <div class="demo">
        <div data-component="timeline" id="t2">
            <span slot="timelineItem">发布1.0版本 </span>
            <span slot="timelineItem">更新2.0版本</span>
            <span slot="timelineItem">严重故障</span>
            <span slot="timelineItem">更新3.0版本</span>
            <span slot="timelineItem">终止更新</span>
        </div>
    </div>
    <div class="demo">
        <div data-component="timeline" id="t3">
            <span slot="timelineItem">发布1.0版本 </span>
            <span slot="timelineItem">更新2.0版本</span>
            <span slot="timelineItem">更新3.0版本</span>
            <a href="#" slot="timelineItem">查看更多</a>
        </div>
    </div>
    <div class="demo">
        <div data-component="timeline" id="t4">
            <div slot="timelineItem">
                <i class="rbt-icon rbt-icon-ios-trophy" slot="dot"></i> 发布里程碑版本
            </div>
            <span slot="timelineItem">发布1.0版本 </span>
            <span slot="timelineItem">更新2.0版本</span>
            <span slot="timelineItem">更新3.0版本</span>
        </div>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="./timeline.js"></script>
<script>
    rabbit.create("#t1");
    rabbit.create("#t2", {
        color: ["green", "green", "red", "blue", "gray"],
    });
    rabbit.create("#t3", {
        pending: true,
    });
    rabbit.create("#t4");
</script>

</html>