[class*="rbt-"],
[class*="rbt-"] *,
[class*="rbt-"] :after,
[class*="rbt-"] :before,
[class^="rbt-"],
[class^="rbt-"] *,
[class^="rbt-"] :after,
[class^="rbt-"] :before {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,
:after,
:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color, Segoe UI, Segoe UI Symbol, Noto Color;
  background: #fff;
  color: #55585e;
  line-height: 1.5;
  font-variant: tabular-nums;
  font-feature-settings: "tnum";
  -webkit-font-smoothing: antialiased;
  transition: background 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
article,
aside,
blockquote,
body,
button,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
a {
  color: #1890ff;
  background: transparent;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.25s ease;
}
a:hover {
  color: #1890ff;
}
a:active {
  color: #1890ff;
}
a:active,
a:hover {
  outline: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
}
a[disabled] {
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}
[data-component="dropdown"],
[data-component="tooltip"],
[data-component="popover"] {
  display: inline-block;
}
