<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/drop-down.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 100px auto;
    }
    
    .demo #d1,
    #d2,
    #d3,
    #d4,
    #d5,
    #d6,
    #d7,
    #d8,
    #d9,
    #d10,
    #d11,
    #d12 {
        margin-right: 25px;
        margin-bottom: 8px;
    }
</style>

<body>
    <div class="demo">
        <!-- <div class="rbt-dropdown">
            <div class="rbt-dropdown-rel">
                <button class="rbt-btn">Hover me</button>
            </div>
            <ul class="rbt-dropdown-menu">
                <li class="rbt-dropdown-item">1st menu item</li>
                <li class="rbt-dropdown-item rbt-dropdown-item-disabled">
                    2st menu item
                </li>
                <li class="rbt-dropdown-item-divider"></li>
                <li class="rbt-dropdown-item">3st menu item</li>
            </ul>
        </div> -->
    </div>
    <div class="demo">
        <rab-dropdown id="d1">
            <a href="javascript:void(0)" slot="ref">
          下拉菜单<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
            <span slot="dropdownItem">菜单项 5</span>
        </rab-dropdown>

        <rab-dropdown id="d2">
            <button class="rbt-btn rbt-btn-primary" slot="ref">
          下拉菜单 <i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </button>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
            <span slot="dropdownItem">菜单项 5</span>
        </rab-dropdown>
    </div>

    <div class="demo">
        <rab-dropdown id="d3">
            <a href="javascript:void(0)" slot="ref">
          hover 触发<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
        </rab-dropdown>

        <rab-dropdown id="d4">
            <a href="javascript:void(0)" slot="ref">
          click 触发<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
        </rab-dropdown>

        <rab-dropdown id="d5">
            <a href="javascript:void(0)" slot="ref">
          右键触发<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">取消</span>
            <span slot="dropdownItem" style="color: #ff4d4f">删除</span>
        </rab-dropdown>
    </div>

    <div class="demo">
        <rab-dropdown id="d6">
            <a href="javascript:void(0)" slot="ref">
          菜单(下左)<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">第一个菜单项</span>
            <span slot="dropdownItem">第二个菜单项</span>
            <span slot="dropdownItem">第三个菜单项</span>
            <span slot="dropdownItem">第四个菜单项</span>
        </rab-dropdown>

        <rab-dropdown id="d7">
            <a href="javascript:void(0)" slot="ref">
          菜单(居中)<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">第一个菜单项</span>
            <span slot="dropdownItem">第二个菜单项</span>
            <span slot="dropdownItem">第三个菜单项</span>
            <span slot="dropdownItem">第四个菜单项</span>
        </rab-dropdown>

        <rab-dropdown id="d8">
            <a href="javascript:void(0)" slot="ref">
          菜单(下右)<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">第一个菜单项</span>
            <span slot="dropdownItem">第二个菜单项</span>
            <span slot="dropdownItem">第三个菜单项</span>
            <span slot="dropdownItem">第四个菜单项</span>
        </rab-dropdown>
    </div>

    <div class="demo">
        <rab-dropdown id="d9">
            <button class="rbt-btn rbt-btn-primary" slot="ref">
          下拉菜单 <i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </button>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
            <span slot="dropdownItem">菜单项 5</span>
        </rab-dropdown>

        <rab-dropdown id="d10">
            <a href="javascript:void(0)" slot="ref">
          下拉菜单<i class="rbt-icon rbt-icon-ios-arrow-down"></i>
        </a>
            <span slot="dropdownItem">菜单项 1</span>
            <span slot="dropdownItem">菜单项 2</span>
            <span slot="dropdownItem">菜单项 3</span>
            <span slot="dropdownItem">菜单项 4</span>
            <span slot="dropdownItem">菜单项 5</span>
        </rab-dropdown>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../common/getComps.js"></script>
<script src="../../common/getCompsSlot.js"></script>
<script src="../../utils/addDom.js"></script>
<script src="../../utils/isSlotUserd.js"></script>
<script src="../../common/main.js"></script>
<script src="../../utils/css-transition.js"></script>
<script src="./set-placement.js"></script>
<script src="./drop-down.js"></script>

<script>
    RabbitUI.create("#d1", {
        divided: [, , , , true],
        itemDisabled: [, , true, , ],
        onUnfold() {
            console.log("菜单展开");
        },
    });

    RabbitUI.create("#d2", {
        divided: [, , , , true],
        itemDisabled: [, , true, , ],
    });
    RabbitUI.create("#d3");
    RabbitUI.create("#d4", {
        trigger: "click",
        onClick(index) {
            console.log(`当前点击的索引：${index}`);
        },
    });
    RabbitUI.create("#d5", {
        trigger: "contextMenu",
    });
    RabbitUI.create("#d6", {
        placement: "bottom-start",
    });
    RabbitUI.create("#d7");
    RabbitUI.create("#d8", {
        placement: "bottom-end",
    });
    RabbitUI.create("#d9", {
        disabled: true,
    });
    RabbitUI.create("#d10", {
        disabled: true,
    });
</script>

</html>