<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/avatar.css" />
</head>
<style>
    .demo {
        width: 460px;
        margin: 20px auto;
    }
    
    .demo rb-avatar {
        margin-top: 16px;
        margin-right: 16px;
    }
    
    .custom {
        width: 64px;
        height: 64px;
        line-height: 64px;
        font-size: 32px !important;
    }
</style>

<body>
    <div class="demo">
        <rb-avatar class="custom"></rb-avatar>
        <rb-avatar rb-size="large"></rb-avatar>
        <rb-avatar></rb-avatar>
        <rb-avatar rb-size="small"></rb-avatar>
    </div>
    <div class="demo">
        <rb-avatar rb-shape="square" class="custom"></rb-avatar>
        <rb-avatar rb-shape="square" rb-size="large"></rb-avatar>
        <rb-avatar rb-shape="square"></rb-avatar>
        <rb-avatar rb-shape="square" rb-size="small"></rb-avatar>
    </div>
    <div class="demo">
        <rb-avatar></rb-avatar>
        <rb-avatar><span>U</span></rb-avatar>
        <rb-avatar><span>USER</span></rb-avatar>
        <rb-avatar><img src="../../../assets/avatar.jpg" /></rb-avatar>
        <rb-avatar style="background: #f56a00"><span>U</span></rb-avatar>
        <rb-avatar style="background: #87d068"></rb-avatar>
    </div>
    <div class="demo">
        <rb-avatar style="background: #f56a00"><span>U</span></rb-avatar>
        <rb-avatar style="background: rgb(114, 101, 230)"><span>Jack</span></rb-avatar>
        <rb-avatar style="background: rgb(255, 191, 0)"><span>Tom</span></rb-avatar>
        <rb-avatar style="background: rgb(0, 162, 174)"><span>Edward</span></rb-avatar>
    </div>
</body>
<script src="../../core/main.js"></script>
<script src="./avatar.js"></script>
<script></script>

</html>