<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/spin.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 40%;
        margin: 50px auto;
    }
    
    .demo-box {
        float: left;
        position: relative;
        width: 25%;
        height: 100px;
        border: 1px solid #ccc;
    }
    
    .demo-spin-article {
        width: 400px;
        height: 200px;
        padding: 10px;
        text-align: center;
    }
</style>

<body>
    <div class="demo">
        <rb-spin rb-type="dot"></rb-spin>
    </div>

    <div class="demo">
        <rb-spin rb-type="dot" rb-size="small"></rb-spin>
        <rb-spin rb-type="dot"></rb-spin>
        <rb-spin rb-type="dot" rb-size="large"></rb-spin>
    </div>

    <div class="demo">
        <rb-spin rb-type="dot"></rb-spin>
        <rb-spin rb-type="dot" rb-color="success"></rb-spin>
        <rb-spin rb-type="dot" rb-color="info"></rb-spin>
        <rb-spin rb-type="dot" rb-color="warning"></rb-spin>
        <rb-spin rb-type="dot" rb-color="error"></rb-spin>
    </div>

    <div class="demo">
        <div class="demo-box">
            <rb-spin rb-fix="true">加载中...</rb-spin>
        </div>
        <div class="demo-box">
            <rb-spin rb-fix="true">
                <i class="rbt-icon rbt-icon-loading1"></i>
                <p>Loading...</p>
            </rb-spin>
        </div>
        <div class="demo-box">
            <rb-spin rb-fix="true">
                <i class="rbt-icon rbt-icon-loading-solid"></i>
                <p>Loading...</p>
            </rb-spin>
        </div>
    </div>

    <div class="demo-box" style="height: 200px">
        <div class="demo-spin-article">
            <h3>登金陵凤凰台</h3>
            <address>李白</address>
            <article>
                <p>凤凰台上凤凰游，凤去台空江自流。</p>
                <p>吴宫花草埋幽径，晋代衣冠成古丘。</p>
                <p>三山半落青天外，二水中分白鹭洲。</p>
                <p>总为浮云能蔽日，长安不见使人愁。</p>
            </article>
            <rb-spin rb-fix="true">
                <rb-spin rb-type="dot" rb-size="large"></rb-spin>
            </rb-spin>
        </div>
    </div>

    <br /><br /><br /><br />
    <div class="demo">
        <button type="button" class="rbt-btn rbt-btn-primary" onclick="s1()">
        指令方式
      </button>
        <button type="button" class="rbt-btn rbt-btn-primary" onclick="s2()">
        服务方式
      </button>
    </div>
</body>
<script src="../../utils/css-transition.js"></script>
<script src="../../common/main.js"></script>
<script src="./spin.js"></script>
<script>
    s1 = () => {
        RabbitUI.Spin.show();
        setTimeout(() => RabbitUI.Spin.hide(), 3000);
    };
    s2 = () => {
        RabbitUI.Spin.show({
            content: `<i class="rbt-icon rbt-icon-loading-solid"></i><p>Loading...</p>`,
        });
        setTimeout(() => RabbitUI.Spin.hide(), 3000);
    };
</script>

</html>