<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/notice.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>
<style>
    .demo {
        width: 400px;
        margin: 10px auto;
    }
</style>

<body>
    <!-- <div class="rbt-notice rbt-notice-topRight">
        <div class="rbt-notice-notice rbt-notice-closable">
            <div class="rbt-notice-content">
                <div class="rbt-notice-notice-with-icon">
                    <i class="rbt-icon rbt-icon-md-information-circle-outline rbt-notice-notice-icon rbt-notice-notice-icon-info"></i>
                    <div class="rbt-notice-notice-title">这是通知标题</div>
                    <div class="rbt-notice-notice-desc">
                        This is the content of the notification. This is the content of the notification. This is the content of the notification.
                    </div>
                </div>
            </div>
            <a class="rbt-notice-notice-close" tabindex="0">
                <i class="rbt-icon rbt-icon-ios-close"></i>
            </a>
        </div>
    </div> -->
    <div class="demo">
        <button class="rbt-btn" onclick="a()">打开提醒</button>
        <br /><br />
        <button class="rbt-btn" onclick="b()">消息</button>
        <button class="rbt-btn" onclick="c()">成功</button>
        <button class="rbt-btn" onclick="d()">警告</button>
        <button class="rbt-btn" onclick="e()">错误</button>
        <br /><br />
        <button class="rbt-btn" onclick="f()">左上角</button>
        <button class="rbt-btn" onclick="g()">右上角</button>
        <button class="rbt-btn" onclick="h()">左下角</button>
        <button class="rbt-btn" onclick="i()">右下角</button>
        <br /><br />
        <button class="rbt-btn" onclick="j()">显示顺序消息</button>
        <br /><br />
        <button class="rbt-btn" onclick="k()">自定义样式</button>
        <br /><br />
        <button class="rbt-btn" onclick="l()">自定义时长</button>
    </div>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/destory.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/objtoString.js"></script>
<script src="../../common/init.js"></script>
<script src="../../common/main.js"></script>
<script src="../../mixins/aferCloseCb.js"></script>
<script src="./notice.js"></script>
<script>
    RabbitUI.init(["Notice"]);

    a = () => {
        RabbitUI.Notice.open({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            onClick: () => console.log("点击通知的回调"),
            onClose: () => console.log("点击关闭的回调"),
        });
    };
    b = () => {
        RabbitUI.Notice.info({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
        });
    };
    c = () => {
        RabbitUI.Notice.success({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
        });
    };
    d = () => {
        RabbitUI.Notice.warning({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
        });
    };
    e = () => {
        RabbitUI.Notice.error({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
        });
    };
    f = () => {
        RabbitUI.Notice.info({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            placement: "topLeft",
        });
    };
    g = () => {
        RabbitUI.Notice.info({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            placement: "topRight",
        });
    };
    h = () => {
        RabbitUI.Notice.info({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            placement: "bottomLeft",
        });
    };
    i = () => {
        RabbitUI.Notice.info({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            placement: "bottomRight",
        });
    };

    j = () => {
        RabbitUI.Notice.open({
            title: "这是第一条通知",
            desc: "接下来将会显示第二条通知接下来将会显示第二条通知接下来将会显示第二条通知",
        }).then(() => {
            RabbitUI.Notice.info({
                title: "这是第二条通知",
                desc: "接下来将会显示第三条通知接下来将会显示第三条通知接下来将会显示第三条通知",
            }).then(() => {
                RabbitUI.Notice.success({
                    title: "这是第三条通知",
                    desc: "这是最新通知这是最新通知这是最新通知这是最新通知这是最新通知",
                });
            });
        });
    };
    k = () => {
        RabbitUI.Notice.open({
            title: "这是通知标题",
            desc: "This is the content of the notification. This is the content of the notification. This is the content of the notification.",
            styles: {
                width: "600px",
                background: "#ccc",
            },
            className: "custom-notice",
        });
    };
    l = () => {
        RabbitUI.Notice.open({
            title: "这是通知标题",
            desc: "这条通知不会自动关闭，需要点击关闭按钮才可以关闭。",
            duration: 0,
        });
    };
</script>

</html>