<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/link.css" />
</head>
<style>
    .demo {
        width: 500px;
        margin: 20px auto;
    }
</style>

<body>
    <div class="demo">
        <a class="rbt-link underline">默认链接</a>
        <a class="rbt-link underline primary">主要链接</a>
        <a class="rbt-link underline success">成功链接</a>
        <a class="rbt-link underline warning">警告链接</a>
        <a class="rbt-link underline error">危险链接</a>
        <a class="rbt-link underline info">信息链接</a>
    </div>
    <div class="demo">
        <a class="rbt-link" disabled>默认链接</a>
        <a class="rbt-link primary" disabled>主要链接</a>
        <a class="rbt-link success" disabled>成功链接</a>
        <a class="rbt-link warning" disabled>警告链接</a>
        <a class="rbt-link error" disabled>危险链接</a>
        <a class="rbt-link info" disabled>信息链接</a>
    </div>
    <div class="demo">
        <a class="rbt-link">无下划线</a>
        <a class="rbt-link underline">有下划线</a>
    </div>
</body>

</html>