<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/message.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>

<body>
    <!-- <div class="rbt-message">
        <div class="rbt-message-notice">
            <div class="rbt-message-notice-content">
                <div class="rbt-message-info">
                    <i class="rbt-icon rbt-icon-ios-information-circle"></i>
                    <span>这是一条消息提示</span>
                    <i class="rbt-closeBtn rbt-icon rbt-icon-ios-close"></i>
                </div>
            </div>
        </div>
    </div> -->
    <button class="rbt-btn" onclick="a()">消息提示</button>
    <button class="rbt-btn" onclick="b()">成功提示</button>
    <button class="rbt-btn" onclick="c()">警告提示</button>
    <button class="rbt-btn" onclick="d()">错误提示</button>
    <button class="rbt-btn" onclick="e()">显示加载中</button>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/destory.js"></script>
<script src="../../mixins/message.js"></script>
<script src="../../common/main.js"></script>
<script src="./message.js"></script>
<script>
    let key = "updata";

    a = () => {
        Rbt.Message.info("这是一条消息提示");
    };

    b = () => {
        Rbt.Message.success("这是一条消息提示");
    };

    c = () => {
        Rbt.Message.warning("这是一条消息提示");
    };

    d = () => {
        Rbt.Message.error("这是一条消息提示");
    };

    e = () => {
        Rbt.Message.loading("正在加载中...", {
            duration: 0,
            key,
        });
        setTimeout(() => {
            Rbt.Message.destroy(key);
        }, 3000);
    };
</script>

</html>