<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../style/components/message.css" />
    <link rel="stylesheet" href="../../style/components/button.css" />
</head>

<body>
    <!-- <div class="rbt-message">
        <div class="rbt-message-notice">
            <div class="rbt-message-notice-content rbt-message-with-background-info">
                <div class="rbt-message-info">
                    <i class="rbt-icon rbt-icon-ios-information-circle"></i>
                    <span>这是一条消息提示</span>
                    <i class="rbt-icon rbt-icon-ios-close"></i>
                </div>
            </div>
        </div>
    </div> -->
    <button class="rbt-btn" onclick="a()">消息提示</button>
    <button class="rbt-btn" onclick="b()">成功提示</button>
    <button class="rbt-btn" onclick="c()">警告提示</button>
    <button class="rbt-btn" onclick="d()">错误提示</button>
    <br /><br />
    <button class="rbt-btn" onclick="e()">显示加载中</button>
    <button class="rbt-btn" onclick="f()">显示一个可关闭的提示</button>
    <button class="rbt-btn" onclick="g()">显示一个10秒的提示</button>
    <br /><br />
    <button class="rbt-btn" onclick="h()">背景色-消息提示</button>
    <button class="rbt-btn" onclick="i()">背景色-成功提示</button>
    <button class="rbt-btn" onclick="j()">背景色-警告提示</button>
    <button class="rbt-btn" onclick="k()">背景色-错误提示</button>
    <br /><br />
    <button class="rbt-btn" onclick="l()">显示顺序消息</button>
</body>
<script src="../../utils/typeof.js"></script>
<script src="../../utils/getIconTypes.js"></script>
<script src="../../utils/destory.js"></script>
<script src="../../common/init.js"></script>
<script src="../../common/main.js"></script>
<script src="../../mixins/aferCloseCb.js"></script>
<script src="./message.js"></script>
<script>
    RabbitUI.init(["Message"]);
    // RabbitUI.Message.config({
    //     top: 50,
    // });
    a = () => {
        RabbitUI.Message.info("这是一条消息提示");
    };

    b = () => {
        RabbitUI.Message.success("这是一条成功提示");
    };

    c = () => {
        RabbitUI.Message.warning("这是一条警告提示");
    };

    d = () => {
        RabbitUI.Message.error("这是一条错误提示");
    };

    const key = "loadingData";
    e = () => {
        RabbitUI.Message.loading("正在加载中...", {
            key,
            duration: 0,
        });
        setTimeout(() => RabbitUI.Message.destroy(key), 5000);
    };

    f = () => {
        RabbitUI.Message.info("可手动关闭的提示", {
            closable: true,
            onClose: () => {
                console.log("关闭提示");
            },
        });
    };

    g = () => {
        RabbitUI.Message.success("这是成功提示信息，10秒后消失", {
            duration: 10,
        });
    };

    h = () => {
        RabbitUI.Message.info(" 这是一条带背景色的通知", {
            background: true,
        });
    };

    i = () => {
        RabbitUI.Message.success(" 这是一条带背景色的通知", {
            background: true,
        });
    };

    j = () => {
        RabbitUI.Message.warning(" 这是一条带背景色的通知", {
            background: true,
        });
    };

    k = () => {
        RabbitUI.Message.error(" 这是一条带背景色的通知", {
            background: true,
        });
    };

    l = () => {
        RabbitUI.Message.loading("正在加载中...", {}).then(() => {
            RabbitUI.Message.success("加载完成").then(() => {
                RabbitUI.Message.info("加载完成后的成功提示");
            });
        });
    };
</script>

</html>